<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiangshangban.att_simple.dao.AlgorithmMapper">
  <resultMap id="ClassesEmployee" type="com.xiangshangban.att_simple.bean.ClassesEmployee">
    <result column="emp_id" jdbcType="VARCHAR" property="empId" />
    <result column="emp_company_id" jdbcType="VARCHAR" property="empCompanyId" />
    <result column="classes_id" jdbcType="VARCHAR" property="classesId" />
    <result column="on_duty_scheduling_date" jdbcType="VARCHAR" property="onDutySchedulingDate" />
    <result column="off_duty_scheduling_date" jdbcType="VARCHAR" property="offDutySchedulingDate" />
    <result column="rest_start_time" property="restStartTime"/>
    <result column="rest_end_time" property="restEndTime"/>
    <result column="week" jdbcType="VARCHAR" property="week" />
    <result column="sign_in_rule" jdbcType="VARCHAR" property="signInRule" />
    <result column="sign_out_rule" jdbcType="VARCHAR" property="signOutRule" />
    <result column="on_punch_card_rule" jdbcType="VARCHAR" property="onPunchCardRule" />
    <result column="off_punch_card_rule" jdbcType="VARCHAR" property="offPunchCardRule" />
  </resultMap>
  <resultMap id="ClassesMap" type="com.xiangshangban.att_simple.bean.ClassesType">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="classes_name" jdbcType="VARCHAR" property="classesName" />
    <result column="on_duty_time" jdbcType="VARCHAR" property="onDutyTime" />
    <result column="off_duty_time" jdbcType="VARCHAR" property="offDutyTime" />
    <result column="morrow_duty_time_flag" jdbcType="VARCHAR" property="morrowDutyTimeFlag" />
    <result column="rest_time" jdbcType="VARCHAR" property="restTime" />
    <result column="rest_days" jdbcType="VARCHAR" property="restDays" />
    <result column="festival_rest_flag" jdbcType="VARCHAR" property="festivalRestFlag" />
    <result column="sign_in_rule" jdbcType="VARCHAR" property="signInRule" />
    <result column="sign_out_rule" jdbcType="VARCHAR" property="signOutRule" />
    <result column="on_punch_card_rule" jdbcType="VARCHAR" property="onPunchCardTime" />
    <result column="off_punch_card_rule" jdbcType="VARCHAR" property="offPunchCardTime" />
    <result column="auto_classes_flag" jdbcType="VARCHAR" property="autoClassesFlag" />
    <result column="create_time" jdbcType="VARCHAR" property="createTime" />
  </resultMap>
  <resultMap id="ApplicationMap" type="com.xiangshangban.att_simple.bean.Application">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="company_id" jdbcType="VARCHAR" property="companyId" />
    <result column="start_time" jdbcType="VARCHAR" property="startTime" />
    <result column="end_time" jdbcType="VARCHAR" property="endTime" />
    <result column="is_skip_rest_day" jdbcType="VARCHAR" property="isSkipRestDay" />
    <result column="application_type" jdbcType="VARCHAR" property="applicationType"/>
    <result column="application_children_type" property="applicationChildrenType"/>
  </resultMap>
  <resultMap id="Company" type="com.xiangshangban.att_simple.bean.Company"> 
  
    <id column="company_id"  property="companyId" />
    <result column="company_name"  property="companyName" />
    <result column="company_english_name"  property="companyEnglishName" />
    <result column="company_abbreviation_name"  property="companyAbbreviationName" />
    <result column="company_address_detail"  property="companyAddressDetail" />
    <result column="company_phone"  property="companyPhone" />
    <result column="company_email"  property="companyEmail" />
    <result column="company_postalcode"  property="companyPostalcode" />
    <result column="company_logo"  property="companyLogo" />
    <result column="company_business_license"  property="companyBusinessLicense" />
    <result column="juridical_person"  property="juridicalPerson" />
    <result column="brought_accoun"  property="broughtAccoun" />
    <result column="registered_capital"  property="registeredCapital" />
    <result column="join_date"  property="joinDate" />
    <result column="company_state"  property="companyState" />
    <result column="registration_number"  property="registrationNumber" />
    <result column="business_registration_number"  property="businessRegistrationNumber" />
    <result column="uniform_credit_code"  property="uniformCreditCode" />
    <result column="type_enterprise"  property="typeEnterprise" />
    <result column="taxpayer_registration_number"  property="taxpayerRegistrationNumber" />
    <result column="industry_type"  property="industryType" />
    <result column="begin_business_time"  property="beginBusinessTime" />
    <result column="end_business_time"  property="endBusinessTime" />
    <result column="dateof_approval"  property="dateofApproval" />
    <result column="registration_authority"  property="registrationAuthority" />
    <result column="registered_address"  property="registeredAddress" />
    <result column="company_creat_time"  property="companyCreatTime" />
    <result column="company_area"  property="companyArea" />
    <result column="company_code"  property="companyCode" />
    <result column="company_approve"  property="companyApprove" />
    <result column="company_personal_name"  property="companyPersonalName" />
    <result column="user_name"  property="userName" />
    <result column="company_no"  property="companyNo" /> 
    <result column="userid"  property="userId" /> 
     <result column="account"  property="Account" />
  </resultMap> 
  <resultMap id="Employee" type="com.xiangshangban.att_simple.bean.Employee">
		<result column="employee_id" property="employeeId" />
		<result column="employee_name" property="employeeName" />
		<result column="login_name" property="loginName" />
		<result column="employee_sex" property="employeeSex" />
		<result column="employee_birthday" property="employeeBirthday" />
		<result column="employee_no" property="employeeNo" />
		<result column="direct_person_id" property="directPersonId" />
		<result column="direct_person_name" property="directPersonName" />
		<result column="employee_phone" property="employeePhone" />
		<result column="employee_twophone" property="employeeTwophone" />
		<result column="entry_time" property="entryTime" />
		<result column="employee_status" property="employeeStatus" />
		<result column="probationary_expired" property="probationaryExpired" />
		<result column="department_id" property="departmentId" />
		<result column="department_name" property="departmentName" />
		<result column="company_name" property="companyName" />
		<result column="company_id" property="companyId" />
		<result column="post_name" property="postName" />
		<result column="post_id" property="postId" />
		<result column="employee_img_url" property="employeeImgUrl" />
		<result column="work_address" property="workAddress" />
		<result column="marriage_status" property="marriageStatus" />
		<result column="seniority" property="seniority" />
	</resultMap>
  <select id="getPlanByDate" resultMap="ClassesEmployee">
  	select a.emp_id, a.emp_company_id, a.classes_id, 
			to_char(a.on_duty_scheduling_date::TIMESTAMP, 'yyyy-MM-dd hh24:mi:ss') on_duty_scheduling_date,
  		to_char(a.off_duty_scheduling_date::TIMESTAMP, 'yyyy-MM-dd hh24:mi:ss') off_duty_scheduling_date, 
			to_char(a.rest_start_time::TIMESTAMP, 'yyyy-MM-dd hh24:mi:ss') rest_start_time, 
			to_char(a.rest_end_time::TIMESTAMP, 'yyyy-MM-dd hh24:mi:ss') rest_end_time, a.week,
  		 a.sign_in_rule, a.sign_out_rule, a.on_punch_card_rule, a.off_punch_card_rule
	FROM classes_employee_ AS a
	WHERE a.emp_company_id=#{companyId} AND a.emp_id=#{employeeId} AND a.on_duty_scheduling_date IS NOT NULL
	AND a.on_duty_scheduling_date!='' AND a.the_date::DATE=#{countDate}::DATE
  </select>
  <select id="getMinSignIn" resultType="String">
  	SELECT min(record_date) 
	FROM(
		SELECT a.record_date
		FROM device.door_record AS a
		LEFT JOIN device.door_ AS b ON a.door_id=b.door_id
		WHERE a.employee_id=#{employeeId} AND b.company_id=#{companyId}
		 AND (a.record_date BETWEEN #{beginTime} AND #{endTime})
		 AND (a.record_type='2' OR a.record_type='3' OR a.record_type='6' OR a.record_type='7' OR a.record_type='8')
	  UNION
	  	SELECT to_char(b.fill_card_time::TIMESTAMP, 'yyyy-MM-dd hh24:mi:ss') AS record_date
		FROM application_fill_card_ b
		LEFT JOIN application_total_record_ AS c ON b.application_no=c.application_no
		WHERE b.employee_id=#{employeeId} AND b.company_id=#{companyId} 
		AND  ((c.application_no IS NOT NULL AND c.is_complete='1' AND c.is_reject='0' ) OR c.application_no IS NULL)
	   AND (b.fill_card_time BETWEEN #{beginTime} AND #{endTime})
	) AS c 
  </select>
  <select id="getMaxSignOut" resultType="String">
  	SELECT max(record_date) 
	FROM(
		SELECT a.record_date
		FROM device.door_record AS a
		LEFT JOIN device.door_ AS b ON a.door_id=b.door_id
		WHERE a.employee_id=#{employeeId} AND b.company_id=#{companyId}
		 AND (a.record_date BETWEEN #{beginTime} AND #{endTime})
		 AND (a.record_type='2' OR a.record_type='3' OR a.record_type='6' OR a.record_type='7' OR a.record_type='8')
	  UNION
		SELECT to_char(b.fill_card_time::TIMESTAMP, 'yyyy-MM-dd hh24:mi:ss') AS record_date
		FROM application_fill_card_ b
		LEFT JOIN application_total_record_ AS c ON b.application_no=c.application_no
		WHERE b.employee_id=#{employeeId} AND b.company_id=#{companyId} 
		AND  ((c.application_no IS NOT NULL AND c.is_complete='1' AND c.is_reject='0' ) OR c.application_no IS NULL)
	   AND (b.fill_card_time BETWEEN #{beginTime} AND #{endTime})
	) AS c 
  </select>
  <select id="getLeaveByTime" resultMap="ApplicationMap">
  	SELECT DISTINCT to_char(a.start_time::TIMESTAMP, 'yyyy-MM-dd hh24:mi:ss') start_time, 
		  to_char(a.end_time::TIMESTAMP, 'yyyy-MM-dd hh24:mi:ss')  end_time,a.employee_id,
  			a.department_id,a.company_id, '1' AS application_type,
  			leave_type AS application_children_type
	FROM application_leave_ a
	LEFT JOIN application_total_record_ AS b ON a.application_no=b.application_no
	WHERE a.employee_id=#{employeeId} AND a.company_id=#{companyId} 
	AND  b.is_complete='1' AND b.is_reject='0'
	AND ((#{endTime} BETWEEN a.start_time AND a.end_time)
			OR (a.end_time BETWEEN #{beginTime} AND #{endTime}))
	ORDER BY start_time
  </select>
  <select id="getOutByTime" resultMap="ApplicationMap">
  	SELECT DISTINCT to_char(a.start_time::TIMESTAMP, 'yyyy-MM-dd hh24:mi:ss') start_time, 
		  to_char(a.end_time::TIMESTAMP, 'yyyy-MM-dd hh24:mi:ss')  end_time,a.employee_id,
  		a.department_id,a.company_id, b.is_skip_rest_day, '4' AS application_type
	FROM application_outgoing_ a
	LEFT JOIN application_total_record_ AS b ON a.application_no=b.application_no
	WHERE a.employee_id=#{employeeId} AND a.company_id=#{companyId} 
	AND  b.is_complete='1' AND b.is_reject='0'
	AND ((#{endTime} BETWEEN a.start_time AND a.end_time)
			OR (a.end_time BETWEEN #{beginTime} AND #{endTime}))
	ORDER BY start_time
  </select>
    <select id="getBusinessByTime" resultMap="ApplicationMap">
  	SELECT DISTINCT to_char(a.start_time::TIMESTAMP, 'yyyy-MM-dd hh24:mi:ss') start_time, 
		  to_char(a.end_time::TIMESTAMP, 'yyyy-MM-dd hh24:mi:ss')  end_time,a.employee_id,
  		a.department_id,a.company_id, b.is_skip_rest_day, '3' AS application_type
	FROM application_business_travel_ a
	LEFT JOIN application_total_record_ AS b ON a.application_no=b.application_no
	WHERE a.employee_id=#{employeeId} AND a.company_id=#{companyId} 
	AND  b.is_complete='1' AND b.is_reject='0'
	AND ((#{endTime} BETWEEN a.start_time AND a.end_time)
			OR (a.end_time BETWEEN #{beginTime} AND #{endTime}))
	ORDER BY start_time
  </select>
  <select id="getOverByTime"  resultMap="ApplicationMap">
  	SELECT DISTINCT to_char(a.start_time::TIMESTAMP, 'yyyy-MM-dd hh24:mi:ss') start_time, 
		  to_char(a.end_time::TIMESTAMP, 'yyyy-MM-dd hh24:mi:ss')  end_time,a.employee_id,
  		a.department_id,a.company_id, '2' AS application_type
	FROM application_overtime_ a
	LEFT JOIN application_total_record_ AS b ON a.application_no=b.application_no
	WHERE a.employee_id=#{employeeId} AND a.company_id=#{companyId}
	AND  b.is_complete='1' AND b.is_reject='0'
	AND a.start_time::date=#{beginTime}::date
	ORDER BY start_time
  </select>
  <select id="getIsCheck" resultType="int">
  	SELECT count(id) 
	FROM not_clocking_in_emp
	WHERE emp_id=#{employeeId} AND emp_company_id= #{companyId}
  </select>
  <select id="getVacationId" resultType="String">
  	SELECT vacation_id 
	FROM vacation
	WHERE employee_id=#{employeeId} 
		AND company_id=#{companyId} AND year_=to_char(#{attDate}::TIMESTAMP, 'yyyy') 
  </select>
  <select id="getAllCompanyList" resultMap="Company">
  	SELECT company_id
  	FROM organization.company_
  	where company_type='0'
  </select>
  <select id="getEmployeeOnJobList" resultMap="Employee">
  	SELECT employee_id
  	FROM organization.employee_
  	WHERE company_id=#{companyId} AND employee_status='0'
  </select>
</mapper>