<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiangshangban.att_simple.dao.ApplicationTransferRecordMapper">
  <resultMap id="BaseResultMap" type="com.xiangshangban.att_simple.bean.ApplicationTransferRecord">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="application_no" jdbcType="VARCHAR" property="applicationNo" />
    <result column="transfer_person_id" jdbcType="VARCHAR" property="transferPersonId" />
    <result column="transfer_persion_access_id" jdbcType="VARCHAR" property="transferPersionAccessId" />
    <result column="transfer_times" jdbcType="VARCHAR" property="transferTimes" />
    <result column="operater_time" jdbcType="VARCHAR" property="operaterTime" />
    <result column="transfer_explain" jdbcType="VARCHAR" property="transferExplain" />
  </resultMap>
  <sql id="Base_Column_List">
    id, application_no, transfer_person_id, transfer_persion_access_id, transfer_times, 
    operater_time, transfer_explain
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from application_transfer_record_
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from application_transfer_record_
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.xiangshangban.att_simple.bean.ApplicationTransferRecord">
    insert into application_transfer_record_ (id, application_no, transfer_person_id, 
      transfer_persion_access_id, transfer_times, 
      operater_time, transfer_explain)
    values (#{id,jdbcType=VARCHAR}, #{applicationNo,jdbcType=VARCHAR}, #{transferPersonId,jdbcType=VARCHAR}, 
      #{transferPersionAccessId,jdbcType=VARCHAR}, #{transferTimes,jdbcType=VARCHAR}, 
      #{operaterTime,jdbcType=VARCHAR}, #{transferExplain,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.xiangshangban.att_simple.bean.ApplicationTransferRecord">
    insert into application_transfer_record_
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="applicationNo != null">
        application_no,
      </if>
      <if test="transferPersonId != null">
        transfer_person_id,
      </if>
      <if test="transferPersionAccessId != null">
        transfer_persion_access_id,
      </if>
      <if test="transferTimes != null">
        transfer_times,
      </if>
      <if test="operaterTime != null">
        operater_time,
      </if>
      <if test="transferExplain != null">
        transfer_explain,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="applicationNo != null">
        #{applicationNo,jdbcType=VARCHAR},
      </if>
      <if test="transferPersonId != null">
        #{transferPersonId,jdbcType=VARCHAR},
      </if>
      <if test="transferPersionAccessId != null">
        #{transferPersionAccessId,jdbcType=VARCHAR},
      </if>
      <if test="transferTimes != null">
        #{transferTimes,jdbcType=VARCHAR},
      </if>
      <if test="operaterTime != null">
        #{operaterTime,jdbcType=VARCHAR},
      </if>
      <if test="transferExplain != null">
        #{transferExplain,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.xiangshangban.att_simple.bean.ApplicationTransferRecord">
    update application_transfer_record_
    <set>
      <if test="applicationNo != null">
        application_no = #{applicationNo,jdbcType=VARCHAR},
      </if>
      <if test="transferPersonId != null">
        transfer_person_id = #{transferPersonId,jdbcType=VARCHAR},
      </if>
      <if test="transferPersionAccessId != null">
        transfer_persion_access_id = #{transferPersionAccessId,jdbcType=VARCHAR},
      </if>
      <if test="transferTimes != null">
        transfer_times = #{transferTimes,jdbcType=VARCHAR},
      </if>
      <if test="operaterTime != null">
        operater_time = #{operaterTime,jdbcType=VARCHAR},
      </if>
      <if test="transferExplain != null">
        transfer_explain = #{transferExplain,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xiangshangban.att_simple.bean.ApplicationTransferRecord">
    update application_transfer_record_
    set application_no = #{applicationNo,jdbcType=VARCHAR},
      transfer_person_id = #{transferPersonId,jdbcType=VARCHAR},
      transfer_persion_access_id = #{transferPersionAccessId,jdbcType=VARCHAR},
      transfer_times = #{transferTimes,jdbcType=VARCHAR},
      operater_time = #{operaterTime,jdbcType=VARCHAR},
      transfer_explain = #{transferExplain,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>