<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiangshangban.att_simple.dao.ApplicationTypeMapper">
  <resultMap id="BaseResultMap" type="com.xiangshangban.att_simple.bean.ApplicationType">
    <id column="application_type" jdbcType="VARCHAR" property="applicationType" />
    <id column="application_children_type" jdbcType="VARCHAR" property="applicationChildrenType" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="children_description" jdbcType="VARCHAR" property="childrenDescription" />
  </resultMap>
  <sql id="Base_Column_List">
    application_type, application_children_type, description ,children_description
  </sql>
  
  <select id="getApplicationTypeList" parameterType="java.lang.String" resultMap="BaseResultMap">
  	select a.application_type,a.description from application_type_ a group by a.application_type,a.description order by a.application_type ASC
  </select>
  
  <select id="getApplicationChildrenTypeList" parameterType="java.lang.String" resultMap="BaseResultMap">
  	select <include refid="Base_Column_List"/> from att_simple.application_type_ at
  	where at.application_type=#{applicationType}
  </select>
  
  <!-- 默认 -->
  <select id="selectByPrimaryKey" parameterType="com.xiangshangban.att_simple.bean.ApplicationType" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from application_type_
    where application_type = #{applicationType,jdbcType=VARCHAR}
      and application_children_type = #{applicationChildrenType,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.xiangshangban.att_simple.bean.ApplicationType">
    delete from application_type_
    where application_type = #{applicationType,jdbcType=VARCHAR}
      and application_children_type = #{applicationChildrenType,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.xiangshangban.att_simple.bean.ApplicationType">
    insert into application_type_ (application_type, application_children_type, 
      description)
    values (#{applicationType,jdbcType=VARCHAR}, #{applicationChildrenType,jdbcType=VARCHAR}, 
      #{description,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.xiangshangban.att_simple.bean.ApplicationType">
    insert into application_type_
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="applicationType != null">
        application_type,
      </if>
      <if test="applicationChildrenType != null">
        application_children_type,
      </if>
      <if test="description != null">
        description,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="applicationType != null">
        #{applicationType,jdbcType=VARCHAR},
      </if>
      <if test="applicationChildrenType != null">
        #{applicationChildrenType,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        #{description,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.xiangshangban.att_simple.bean.ApplicationType">
    update application_type_
    <set>
      <if test="description != null">
        description = #{description,jdbcType=VARCHAR},
      </if>
    </set>
    where application_type = #{applicationType,jdbcType=VARCHAR}
      and application_children_type = #{applicationChildrenType,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xiangshangban.att_simple.bean.ApplicationType">
    update application_type_
    set description = #{description,jdbcType=VARCHAR}
    where application_type = #{applicationType,jdbcType=VARCHAR}
      and application_children_type = #{applicationChildrenType,jdbcType=VARCHAR}
  </update>
</mapper>