<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiangshangban.att_simple.dao.ApplicationLeaveMapper">
  <resultMap id="BaseResultMap" type="com.xiangshangban.att_simple.bean.ApplicationLeave">
    <result column="application_no"  property="applicationNo" />
    <result column="employee_id"  property="employeeId" />
    <result column="department_id"  property="departmentId" />
    <result column="company_id"  property="companyId" />
    <result column="leave_type"  property="leaveType" />
    <result column="start_time"  property="startTime" />
    <result column="end_time"  property="endTime" />
    <result column="reason"  property="reason" />
    <result column="upload_voucher"  property="uploadVoucher" />
    <result column="approver"  property="approver" />
    <result column="operater_time"  property="operaterTime" />
    <result column="is_transfer"  property="isTransfer" />
    <result column="application_hour"  property="applicationHour" />
    <result column="application_time"  property="applicationTime" />
    <result column="employee_name" property="employeeName" />
    <result column="department_name" property="departmentName" />
    <result column="leave_type_name" property="leaveTypeName" />
    <result column="approver_name" property="approverName" />
    <result column="leave_count" property="leaveCount"/>
  </resultMap>
  <sql id="Base_Column_List">
    application_no, employee_id, department_id, company_id, leave_type, start_time, 
    end_time, reason, upload_voucher, approver, operater_time, is_transfer, 
    application_hour, application_time
  </sql>
   
  <sql id="Leave_List">
    application_no, employee_id, department_id, company_id, leave_type, start_time, 
    end_time, reason, upload_voucher, approver, operater_time, is_transfer, 
    application_hour, application_time,employee_name,department_name,leave_type_name,approver_name
  </sql>
   
   <select id="selectLeaveKeyData" parameterType="java.lang.String" resultType="java.lang.Integer">
   select count(leave_type) from application_leave_ l
	LEFT JOIN application_total_record_ r
	ON l.application_no = r.application_no and l.employee_id = r.application_id and l.company_id = r.company_id
	where l.company_id = #{companyId}
	and r.is_complete = '1'
	and l.application_time like #{applicationTime}
	and leave_type= #{leaveType}
   </select>
   
   <!-- 请假记录记录模糊查询总条数 -->
   <select id="selectTotalNum" parameterType="com.xiangshangban.att_simple.bean.Paging" resultType="java.lang.Integer">
   	select count(*) from (select l.application_no,to_char(to_date(l.application_time,'YYYY'),'YYYY') AS year_,to_char(to_date(l.application_time,'YYYY-mm'),'mm') AS month_ FROM application_leave_ l
	LEFT JOIN organization.department_ d
	on l.department_id = d.department_id and l.company_id = d.company_id
	LEFT JOIN organization.employee_ e
	on d.company_id = e.company_id and d.department_id = e.department_id
	LEFT JOIN application_total_record_ r 
	ON l.application_no = r.application_no and e.company_id = r.company_id and e.employee_id = r.application_id
	where r.is_complete = '1'
	and r.company_id = #{companyId}
		<if test="departmentId != null">
			l.department_id = #{departmentId}
		</if>
		<if test="leaveType != null">
			and leave_type = #{leaveType}
		</if>
		<if test="employeeName != null">
			and e.employee_name like '%${employeeName}%'
		</if>
	)t
	<where>
		<if test="year != null">
			and year_ = #{year}
		</if>
		<if test="month != null">
			and month_ = #{month}
		</if>
	</where>
   </select>
   
  <!-- 请假记录模糊分页查询 -->
  <select id="selectCompleteLeave" parameterType="com.xiangshangban.att_simple.bean.Paging" resultMap="BaseResultMap">
  	select 
	<include refid="Leave_List"/> 
	from (select l.application_no, l.employee_id,e.employee_name, l.department_id,d.department_name,l.company_id, leave_type,
	CASE
	WHEN (leave_type = '1'::VARCHAR) THEN '事假'::TEXT 
	WHEN (leave_type = '2'::VARCHAR) THEN '年假'::TEXT 
	WHEN (leave_type = '3'::VARCHAR) THEN '调休假'::TEXT 
	WHEN (leave_type = '4'::VARCHAR) THEN '婚假'::TEXT 
	WHEN (leave_type = '5'::VARCHAR) THEN '产假'::TEXT 
	WHEN (leave_type = '6'::VARCHAR) THEN '丧假'::TEXT 
	WHEN (leave_type = '7'::VARCHAR) THEN '病假'::TEXT
	END as leave_type_name
	, start_time, end_time, reason, upload_voucher, approver,
	(select employee_name from organization.employee_ where employee_id = approver and company_id = l.company_id) as approver_name, 
	l.copy_to_person, l.operater_time,l.is_transfer, 
	application_hour, l.application_time,to_char(to_date(l.application_time,'YYYY'),'YYYY') AS year_,to_char(to_date(l.application_time,'YYYY-mm'),'mm') AS month_
	FROM att_simple.application_leave_ l
	LEFT JOIN application_total_record_ r ON l.application_no = r.application_no 
	LEFT JOIN organization.employee_ e on e.employee_id = r.application_id and r.company_id = e.company_id
	LEFT JOIN organization.department_ d on e.department_id = d.department_id and e.company_id = d.company_id 
	where r.is_complete = '1'
	and l.company_id = #{companyId}
		<if test="departmentId != null">
			and l.department_id = #{departmentId}
		</if>
		<if test="leaveType != null">
			and leave_type = #{leaveType}
		</if>
		<if test="employeeName != null">
			and e.employee_name like '%${employeeName}%'
		</if>
	)t
	<where>
		<if test="year != null">
			and year_ = #{year}
		</if>
		<if test="month != null">
			and month_ = #{month}
		</if>
	</where>  
	<if test="applicationHourRank != null">
		order by application_hour ${applicationHourRank}
	</if>
	<if test="applicationTimeRank != null">
		order by application_time ${applicationTimeRank}
	</if>
	LIMIT ${pageNum} OFFSET ${pageExcludeNumber}
  </select>
  
  <!-- 添加请假申请记录 -->
  <insert id="insertApplicationRecord" parameterType="com.xiangshangban.att_simple.bean.ApplicationLeave">
  	insert into application_leave_
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="applicationNo != null">application_no,</if>
      <if test="employeeId != null">employee_id,</if>
      <if test="departmentId != null">department_id,</if>
      <if test="companyId != null">company_id,</if>
      <if test="leaveType != null">leave_type,</if>
      <if test="startTime != null">start_time,</if>
      <if test="endTime != null">end_time,</if>
      <if test="reason != null">reason,</if>
      <if test="uploadVoucher != null">upload_voucher,</if>
      <if test="approver != null">approver,</if>
      <if test="operaterTime != null">operater_time,</if>
      <if test="isTransfer != null">is_transfer,</if>
      <if test="applicationHour != null">application_hour,</if>
      <if test="applicationTime != null">application_time,</if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="applicationNo != null">#{applicationNo},</if>
      <if test="employeeId != null">#{employeeId},</if>
      <if test="departmentId != null">#{departmentId},</if>
      <if test="companyId != null">#{companyId},</if>
      <if test="leaveType != null">#{leaveType},</if>
      <if test="startTime != null">#{startTime},</if>
      <if test="endTime != null">#{endTime},</if>
      <if test="reason != null">#{reason},</if>
      <if test="uploadVoucher != null">#{uploadVoucher},</if>
      <if test="approver != null">#{approver},</if>
      <if test="operaterTime != null">#{operaterTime},</if>
      <if test="isTransfer != null">#{isTransfer},</if>
      <if test="applicationHour != null">#{applicationHour},</if>
      <if test="applicationTime != null">#{applicationTime},</if>
    </trim>
  </insert>
  <!-- 查询申请的时间段是否有重复 -->
  <select id="selectStartTimeIsRepeat" parameterType="com.xiangshangban.att_simple.bean.Application" resultType="java.lang.Integer">
  select count(atr.application_no) from 
application_total_record_ atr
LEFT JOIN application_leave_ al on atr.application_no = al.application_no
LEFT JOIN application_overtime_ ao on atr.application_no = ao.application_no
left join application_business_travel_ abt on atr.application_no = abt.application_no
left join application_outgoing_ aot on atr.application_no = aot.application_no
where atr.company_id = #{companyId} and atr.is_reject !='1' and atr.application_id = #{applicationId} and (((#{startTime} between al.start_time and al.end_time) or (#{endTime} between al.start_time and al.end_time) 
	or (#{startTime} between ao.start_time and ao.end_time) or (#{endTime} between ao.start_time and ao.end_time)
	or (#{startTime} between abt.start_time and abt.end_time) or (#{endTime} between abt.start_time and abt.end_time) 
	or (#{startTime} between aot.start_time and aot.end_time) or (#{endTime} between aot.start_time and aot.end_time)) or
	((al.start_time between #{startTime} and #{endTime}) or (al.end_time between #{startTime} and #{endTime}) 
	or (ao.start_time between #{startTime} and #{endTime}) or (ao.end_time between #{startTime} and #{endTime}) 
	or (abt.start_time between #{startTime} and #{endTime}) or (abt.end_time between #{startTime} and #{endTime})
	or (aot.start_time between #{startTime} and #{endTime}) or (aot.end_time between #{startTime} and #{endTime})))
  </select>
	<resultMap type="com.xiangshangban.att_simple.bean.Application" id="Application_List">
		<result column="application_no" property="applicationNo"/>
		<result column="employee_id" property="applicationId"/>
		<result column="department_id" property="departmentId"/>
		<result column="company_id" property="companyId"/>
		<result column="leave_type" property="applicationChildrenType"/>
		<result column="start_time" property="startTime"/>
		<result column="end_time" property="endTime"/>
		<result column="reason" property="reason"/>
		<result column="upload_voucher" property="uploadVoucher"/>
		<result column="approver" property="approver"/>
		<result column="application_hour" property="applicationHour"/>
		<result column="application_time" property="applicationTime"/>
	</resultMap>
  <!-- 根据申请单号查询详细内容 -->
  <select id="selectDetailsByApplicationNo" parameterType="java.lang.String" resultMap="Application_List"> 
  	select <include refid="Base_Column_List"/>
  	from att_simple.application_leave_ l
  	where l.application_no = #{applicationNo}
  </select>
	  
  
</mapper>