<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiangshangban.att_simple.dao.ApplicationToCopyPersonMapper">
  <resultMap id="BaseResultMap" type="com.xiangshangban.att_simple.bean.ApplicationToCopyPerson">
    <id column="id"  property="id" />
    <result column="application_no"  property="applicationNo" />
    <result column="copy_person_id"  property="appCopyPersonId" />
    <result column="operater_time"  property="operaterTime" />
    <result column="company_id"  property="companyId" />
  </resultMap>
  <sql id="Base_Column_List">
    id, application_no, copy_person_id, operater_time, company_id
  </sql>
  
  <!-- 根据单号查询抄送人集合 -->
  <select id="selectCopyPersonByApplicationNo" parameterType="java.lang.String" resultMap="BaseResultMap">
  	select <include refid="Base_Column_List"/>
  	from att_simple.application_to_copy_person_ atcp
  	where atcp.application_no = #{applicationNo}
  </select>
  
  
  
  
  
  
  
  
  
  
  
  <!-- 系统 -->
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from application_to_copy_person_
    where id = #{id}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from application_to_copy_person_
    where id = #{id}
  </delete>
  <insert id="insert" parameterType="com.xiangshangban.att_simple.bean.ApplicationToCopyPerson">
    insert into application_to_copy_person_ (id, application_no, copy_person_id, 
      operater_time)
    values (#{id}, #{applicationNo}, #{appCopyPersonId}, 
      #{operaterTime})
  </insert>
  <insert id="insertSelective" parameterType="com.xiangshangban.att_simple.bean.ApplicationToCopyPerson">
    insert into application_to_copy_person_
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="applicationNo != null">
        application_no,
      </if>
      <if test="appCopyPersonId != null">
        copy_person_id,
      </if>
      <if test="operaterTime != null">
        operater_time,
      </if>
      <if test="companyId != null">
        company_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id},
      </if>
      <if test="applicationNo != null">
        #{applicationNo},
      </if>
      <if test="appCopyPersonId != null">
        #{appCopyPersonId},
      </if>
      <if test="operaterTime != null">
        #{operaterTime},
      </if>
      <if test="companyId != null">
        #{companyId},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.xiangshangban.att_simple.bean.ApplicationToCopyPerson">
    update application_to_copy_person_
    <set>
      <if test="applicationNo != null">
        application_no = #{applicationNo},
      </if>
      <if test="appCopyPersonId != null">
        copy_person_id = #{appCopyPersonId},
      </if>
      <if test="operaterTime != null">
        operater_time = #{operaterTime},
      </if>
    </set>
    where id = #{id}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xiangshangban.att_simple.bean.ApplicationToCopyPerson">
    update application_to_copy_person_
    set application_no = #{applicationNo},
      copy_person_id = #{appCopyPersonId},
      operater_time = #{operaterTime}
    where id = #{id}
  </update>
</mapper>