<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiangshangban.att_simple.dao.ApplicationRecordMapper">
  <resultMap id="BaseResultMap" type="com.xiangshangban.att_simple.bean.ApplicationRecord">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="employee_id" jdbcType="VARCHAR" property="employeeId" />
    <result column="deartment_id" jdbcType="VARCHAR" property="deartmentId" />
    <result column="company_id" jdbcType="VARCHAR" property="companyId" />
    <result column="application_type" jdbcType="VARCHAR" property="applicationType" />
    <result column="start_time" jdbcType="VARCHAR" property="startTime" />
    <result column="end_time" jdbcType="VARCHAR" property="endTime" />
    <result column="reason" jdbcType="VARCHAR" property="reason" />
    <result column="validate_img_url" jdbcType="VARCHAR" property="validateImgUrl" />
    <result column="operation_time" jdbcType="VARCHAR" property="operationTime" />
    <result column="application_hour" jdbcType="VARCHAR" property="applicationHour" />
    <result column="approver_id" jdbcType="VARCHAR" property="approverId" />
    <result column="approver_status" jdbcType="VARCHAR" property="approverStatus" />
    <result column="approver_status_type" jdbcType="VARCHAR" property="approverStatusType" />
    <result column="copy_person_id" jdbcType="VARCHAR" property="copyPersonId" />
    <result column="application_children_type" jdbcType="VARCHAR" property="applicationChildrenType" />
    <result column="application_time" jdbcType="VARCHAR" property="applicationTime" />
    <result column="outgoing_location" jdbcType="VARCHAR" property="outgoingLocation" />
  </resultMap>
  <sql id="Base_Column_List">
    id, employee_id, deartment_id, company_id, application_type, start_time, end_time, 
    reason, validate_img_url, operation_time, application_hour, approver_id, approver_status, 
    approver_status_type, copy_person_id, application_children_type, application_time, 
    outgoing_location
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from application_record_
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from application_record_
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.xiangshangban.att_simple.bean.ApplicationRecord">
    insert into application_record_ (id, employee_id, deartment_id, 
      company_id, application_type, start_time, 
      end_time, reason, validate_img_url, 
      operation_time, application_hour, approver_id, 
      approver_status, approver_status_type, copy_person_id, 
      application_children_type, application_time, 
      outgoing_location)
    values (#{id,jdbcType=VARCHAR}, #{employeeId,jdbcType=VARCHAR}, #{deartmentId,jdbcType=VARCHAR}, 
      #{companyId,jdbcType=VARCHAR}, #{applicationType,jdbcType=VARCHAR}, #{startTime,jdbcType=VARCHAR}, 
      #{endTime,jdbcType=VARCHAR}, #{reason,jdbcType=VARCHAR}, #{validateImgUrl,jdbcType=VARCHAR}, 
      #{operationTime,jdbcType=VARCHAR}, #{applicationHour,jdbcType=VARCHAR}, #{approverId,jdbcType=VARCHAR}, 
      #{approverStatus,jdbcType=VARCHAR}, #{approverStatusType,jdbcType=VARCHAR}, #{copyPersonId,jdbcType=VARCHAR}, 
      #{applicationChildrenType,jdbcType=VARCHAR}, #{applicationTime,jdbcType=VARCHAR}, 
      #{outgoingLocation,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.xiangshangban.att_simple.bean.ApplicationRecord">
    insert into application_record_
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="employeeId != null">
        employee_id,
      </if>
      <if test="deartmentId != null">
        deartment_id,
      </if>
      <if test="companyId != null">
        company_id,
      </if>
      <if test="applicationType != null">
        application_type,
      </if>
      <if test="startTime != null">
        start_time,
      </if>
      <if test="endTime != null">
        end_time,
      </if>
      <if test="reason != null">
        reason,
      </if>
      <if test="validateImgUrl != null">
        validate_img_url,
      </if>
      <if test="operationTime != null">
        operation_time,
      </if>
      <if test="applicationHour != null">
        application_hour,
      </if>
      <if test="approverId != null">
        approver_id,
      </if>
      <if test="approverStatus != null">
        approver_status,
      </if>
      <if test="approverStatusType != null">
        approver_status_type,
      </if>
      <if test="copyPersonId != null">
        copy_person_id,
      </if>
      <if test="applicationChildrenType != null">
        application_children_type,
      </if>
      <if test="applicationTime != null">
        application_time,
      </if>
      <if test="outgoingLocation != null">
        outgoing_location,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="employeeId != null">
        #{employeeId,jdbcType=VARCHAR},
      </if>
      <if test="deartmentId != null">
        #{deartmentId,jdbcType=VARCHAR},
      </if>
      <if test="companyId != null">
        #{companyId,jdbcType=VARCHAR},
      </if>
      <if test="applicationType != null">
        #{applicationType,jdbcType=VARCHAR},
      </if>
      <if test="startTime != null">
        #{startTime,jdbcType=VARCHAR},
      </if>
      <if test="endTime != null">
        #{endTime,jdbcType=VARCHAR},
      </if>
      <if test="reason != null">
        #{reason,jdbcType=VARCHAR},
      </if>
      <if test="validateImgUrl != null">
        #{validateImgUrl,jdbcType=VARCHAR},
      </if>
      <if test="operationTime != null">
        #{operationTime,jdbcType=VARCHAR},
      </if>
      <if test="applicationHour != null">
        #{applicationHour,jdbcType=VARCHAR},
      </if>
      <if test="approverId != null">
        #{approverId,jdbcType=VARCHAR},
      </if>
      <if test="approverStatus != null">
        #{approverStatus,jdbcType=VARCHAR},
      </if>
      <if test="approverStatusType != null">
        #{approverStatusType,jdbcType=VARCHAR},
      </if>
      <if test="copyPersonId != null">
        #{copyPersonId,jdbcType=VARCHAR},
      </if>
      <if test="applicationChildrenType != null">
        #{applicationChildrenType,jdbcType=VARCHAR},
      </if>
      <if test="applicationTime != null">
        #{applicationTime,jdbcType=VARCHAR},
      </if>
      <if test="outgoingLocation != null">
        #{outgoingLocation,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.xiangshangban.att_simple.bean.ApplicationRecord">
    update application_record_
    <set>
      <if test="employeeId != null">
        employee_id = #{employeeId,jdbcType=VARCHAR},
      </if>
      <if test="deartmentId != null">
        deartment_id = #{deartmentId,jdbcType=VARCHAR},
      </if>
      <if test="companyId != null">
        company_id = #{companyId,jdbcType=VARCHAR},
      </if>
      <if test="applicationType != null">
        application_type = #{applicationType,jdbcType=VARCHAR},
      </if>
      <if test="startTime != null">
        start_time = #{startTime,jdbcType=VARCHAR},
      </if>
      <if test="endTime != null">
        end_time = #{endTime,jdbcType=VARCHAR},
      </if>
      <if test="reason != null">
        reason = #{reason,jdbcType=VARCHAR},
      </if>
      <if test="validateImgUrl != null">
        validate_img_url = #{validateImgUrl,jdbcType=VARCHAR},
      </if>
      <if test="operationTime != null">
        operation_time = #{operationTime,jdbcType=VARCHAR},
      </if>
      <if test="applicationHour != null">
        application_hour = #{applicationHour,jdbcType=VARCHAR},
      </if>
      <if test="approverId != null">
        approver_id = #{approverId,jdbcType=VARCHAR},
      </if>
      <if test="approverStatus != null">
        approver_status = #{approverStatus,jdbcType=VARCHAR},
      </if>
      <if test="approverStatusType != null">
        approver_status_type = #{approverStatusType,jdbcType=VARCHAR},
      </if>
      <if test="copyPersonId != null">
        copy_person_id = #{copyPersonId,jdbcType=VARCHAR},
      </if>
      <if test="applicationChildrenType != null">
        application_children_type = #{applicationChildrenType,jdbcType=VARCHAR},
      </if>
      <if test="applicationTime != null">
        application_time = #{applicationTime,jdbcType=VARCHAR},
      </if>
      <if test="outgoingLocation != null">
        outgoing_location = #{outgoingLocation,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xiangshangban.att_simple.bean.ApplicationRecord">
    update application_record_
    set employee_id = #{employeeId,jdbcType=VARCHAR},
      deartment_id = #{deartmentId,jdbcType=VARCHAR},
      company_id = #{companyId,jdbcType=VARCHAR},
      application_type = #{applicationType,jdbcType=VARCHAR},
      start_time = #{startTime,jdbcType=VARCHAR},
      end_time = #{endTime,jdbcType=VARCHAR},
      reason = #{reason,jdbcType=VARCHAR},
      validate_img_url = #{validateImgUrl,jdbcType=VARCHAR},
      operation_time = #{operationTime,jdbcType=VARCHAR},
      application_hour = #{applicationHour,jdbcType=VARCHAR},
      approver_id = #{approverId,jdbcType=VARCHAR},
      approver_status = #{approverStatus,jdbcType=VARCHAR},
      approver_status_type = #{approverStatusType,jdbcType=VARCHAR},
      copy_person_id = #{copyPersonId,jdbcType=VARCHAR},
      application_children_type = #{applicationChildrenType,jdbcType=VARCHAR},
      application_time = #{applicationTime,jdbcType=VARCHAR},
      outgoing_location = #{outgoingLocation,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>