<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiangshangban.att_simple.dao.ApplicationFillCardMapper">
  <resultMap id="BaseResultMap" type="com.xiangshangban.att_simple.bean.ApplicationFillCard">
    <result column="application_no"  property="applicationNo" />
    <result column="employee_id"  property="employeeId" />
    <result column="department_id"  property="departmentId" />
    <result column="company_id"  property="companyId" />
    <result column="fill_card_type"  property="fillCardType" />
    <result column="fill_card_time"  property="fillCardTime" />
    <result column="reason"  property="reason" />
    <result column="upload_voucher"  property="uploadVoucher" />
    <result column="approver"  property="approver" />
    <result column="operater_time"  property="operaterTime" />
    <result column="is_transfer"  property="isTransfer" />
    <result column="application_time"  property="applicationTime" />
  </resultMap>
  <sql id="Base_Column_List">
    application_no, employee_id, department_id, company_id, fill_card_type, fill_card_time, 
    reason, upload_voucher, approver, operater_time, is_transfer, application_time
  </sql>
  <!-- 添加补卡申请记录 -->
  <insert id="insertApplicationFillCardRecord" parameterType="com.xiangshangban.att_simple.bean.ApplicationFillCard">
  	insert into application_business_travel_ 
  	<trim  prefix="(" suffixOverrides="," suffix=")">
  		<if test="applicationNo!=null and application!='' ">application_no,</if>
  		<if test="employeeId!=null and employeeId!='' ">employee_id,</if>
  		<if test="departmentId!=null and departmentId!='' ">department_id,</if>
  		<if test="companyId!=null and companyId!='' ">company_id,</if>
  		<if test="fillCardType!=null and fillCardType!='' ">fill_card_type,</if>
  		<if test="fillCardTime!=null and fillCardTime!=''">fill_card_time,</if>
  		<if test="reason!=null and reason!='' ">reason,</if>
  		<if test="uploadVoucher!=null and uploadVoucher!=''">upload_voucher,</if>
  		<if test="approver!=null and approver!=''">approver,</if>
  		<if test="operaterTime!=null and operaterTime!=''">operater_time,</if>
  		<if test="isTransfer!=null and isTransfer!=''">is_transfer,</if>
  		<if test="applicationHour!=null and applicationHour!=''"> application_hour,</if>
  		<if test="applicationTime!=null and applicationTime!=''">application_time</if>
  	</trim>
  	<trim prefix="values(" suffixOverrides="," suffix=")">
  		<if test="applicationNo!=null and application!='' ">#{applicationNo},</if>
  		<if test="employeeId!=null and employeeId!='' ">#{employeeId},</if>
  		<if test="departmentId!=null and departmentId!='' ">#{departmentId},</if>
  		<if test="companyId!=null and companyId!='' ">#{companyId},</if>
  		<if test="fillCardType!=null and fillCardType!='' ">#{fillCardType},</if>
  		<if test="fillCardTime!=null and fillCardTime!=''">#{fillCardTime},</if>
  		<if test="reason!=null and reason!='' ">#{reason},</if>
  		<if test="uploadVoucher!=null and uploadVoucher!=''">#{uploadVoucher},</if>
  		<if test="approver!=null and approver!=''">#{approver},</if>
  		<if test="operaterTime!=null and operaterTime!=''">#{operaterTime},</if>
  		<if test="isTransfer!=null and isTransfer!=''">#{isTransfer},</if>
  		<if test="applicationHour!=null and applicationHour!=''">#{applicationHour},</if>
  		<if test="applicationTime!=null and applicationTime!=''">#{applicationTime}</if>
  	</trim>
  </insert>
  
</mapper>