<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiangshangban.att_simple.dao.ApplicationTotalRecordMapper">
  <resultMap id="BaseResultMap" type="com.xiangshangban.att_simple.bean.ApplicationTotalRecord">
    <id column="application_no"  property="applicationNo" />
    <result column="operater_time"  property="operaterTime" />
    <result column="operater_id"  property="operaterId" />
    <result column="application_type"  property="applicationType" />
    <result column="last_approver"  property="lastApprover" />
    <result column="is_copy"  property="isCopy" />
    <result column="application_id"  property="applicationId" />
    <result column="company_id"  property="companyId" />
    <result column="is_reject"  property="isReject" />
    <result column="application_status"  property="applicationStatus" />
    <result column="reject_reason"  property="rejectReason" />
    <result column="is_transfer"  property="isTransfer" />
    <result column="is_complete"  property="isComplete" />
    <result column="is_skip_rest_day"  property="isSkipRestDay" />
  </resultMap>
  <sql id="Base_Column_List">
    applcation_no, operater_time, operater_id, application_type, last_approver, is_copy, 
    application_id, company_id, is_reject, application_status, reject_reason, is_transfer, is_complete, is_skip_rest_day
  </sql>
  <!-- 添加新的申请记录 -->
  <insert id="insertApplicationRecord" parameterType="com.xiangshangban.att_simple.bean.Application">
  	insert into application_total_record_
  	 <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="applicationNo != null">applcation_no,</if>
        operater_time,
      <if test="operaterId != null">operater_id,</if>
      <if test="applicationType != null">application_type,</if>
      <if test="approver != null">last_approver,</if>
      <if test="isCopy != null">is_copy,</if>
      <if test="applicationId != null">application_id,</if>
      <if test="companyId != null">company_id,</if>
      <if test="isReject != null">is_reject,</if>
      <if test="applicationStatus != null">application_status,</if>
      <if test="rejectReason != null">reject_reason,</if>
      <if test="isTransfer != null">is_transfer,</if>
      <if test="isComplete != null">is_complete,</if>
      <if test="isSkipRestDay != null">is_skip_rest_day,</if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="applicationNo != null">#{applicationNo},</if>
      to_char(now(),'yyyy-MM-dd hh24:mi:ss'),
      <if test="operaterId != null">#{operaterId},</if>
      <if test="applicationType != null">#{applicationType},</if>
      <if test="approver != null">#{approver},</if>
      <if test="isCopy != null">#{isCopy},</if>
      <if test="applicationId != null">#{applicationId},</if>
      <if test="companyId != null">#{companyId},</if>
      <if test="isReject != null">#{isReject},</if>
      <if test="applicationStatus != null">#{applicationStatus},</if>
      <if test="rejectReason != null">#{rejectReason},</if>
      <if test="isTransfer != null">#{isTransfer},</if>
      <if test="isComplete != null">#{isComplete},</if>
      <if test="isSkipRestDay != null">#{isSkipRestDay},</if>
    </trim>
  
  </insert>
  
  
  
  
  
  
  
  
  
  
  
  
  
  <!-- 系统 -->
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from application_total_record_
    where applcation_no = #{applicationNo}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from application_total_record_
    where applcation_no = #{applicationNo}
  </delete>
  <insert id="insert" parameterType="com.xiangshangban.att_simple.bean.ApplicationTotalRecord">
    insert into application_total_record_ (applcation_no, operater_time, operater_id, 
      application_type, last_approver, is_copy, 
      application_id, company_id, is_reject, 
      application_status, reject_reason, is_transfer
      )
    values (#{applicationNo}, #{operaterTime}, #{operaterId}, 
      #{applicationType}, #{lastApprover}, #{isCopy}, 
      #{applicationId}, #{companyId}, #{isReject}, 
      #{applicationStatus}, #{rejectReason}, #{isTransfer}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.xiangshangban.att_simple.bean.ApplicationTotalRecord">
    insert into application_total_record_
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="applicationNo != null">
        applcation_no,
      </if>
      <if test="operaterTime != null">
        operater_time,
      </if>
      <if test="operaterId != null">
        operater_id,
      </if>
      <if test="applicationType != null">
        application_type,
      </if>
      <if test="lastApprover != null">
        last_approver,
      </if>
      <if test="isCopy != null">
        is_copy,
      </if>
      <if test="applicationId != null">
        application_id,
      </if>
      <if test="companyId != null">
        company_id,
      </if>
      <if test="isReject != null">
        is_reject,
      </if>
      <if test="applicationStatus != null">
        application_status,
      </if>
      <if test="rejectReason != null">
        reject_reason,
      </if>
      <if test="isTransfer != null">
        is_transfer,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="applicationNo != null">
        #{applicationNo},
      </if>
      <if test="operaterTime != null">
        #{operaterTime},
      </if>
      <if test="operaterId != null">
        #{operaterId},
      </if>
      <if test="applicationType != null">
        #{applicationType},
      </if>
      <if test="lastApprover != null">
        #{lastApprover},
      </if>
      <if test="isCopy != null">
        #{isCopy},
      </if>
      <if test="applicationId != null">
        #{applicationId},
      </if>
      <if test="companyId != null">
        #{companyId},
      </if>
      <if test="isReject != null">
        #{isReject},
      </if>
      <if test="applicationStatus != null">
        #{applicationStatus},
      </if>
      <if test="rejectReason != null">
        #{rejectReason},
      </if>
      <if test="isTransfer != null">
        #{isTransfer},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.xiangshangban.att_simple.bean.ApplicationTotalRecord">
    update application_total_record_
    <set>
      <if test="operaterTime != null">
        operater_time = #{operaterTime},
      </if>
      <if test="operaterId != null">
        operater_id = #{operaterId},
      </if>
      <if test="applicationType != null">
        application_type = #{applicationType},
      </if>
      <if test="lastApprover != null">
        last_approver = #{lastApprover},
      </if>
      <if test="isCopy != null">
        is_copy = #{isCopy},
      </if>
      <if test="applicationId != null">
        application_id = #{applicationId},
      </if>
      <if test="companyId != null">
        company_id = #{companyId},
      </if>
      <if test="isReject != null">
        is_reject = #{isReject},
      </if>
      <if test="applicationStatus != null">
        application_status = #{applicationStatus},
      </if>
      <if test="rejectReason != null">
        reject_reason = #{rejectReason},
      </if>
      <if test="isTransfer != null">
        is_transfer = #{isTransfer},
      </if>
    </set>
    where applcation_no = #{applicationNo}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xiangshangban.att_simple.bean.ApplicationTotalRecord">
    update application_total_record_
    set operater_time = #{operaterTime},
      operater_id = #{operaterId},
      application_type = #{applicationType},
      last_approver = #{lastApprover},
      is_copy = #{isCopy},
      application_id = #{applicationId},
      company_id = #{companyId},
      is_reject = #{isReject},
      application_status = #{applicationStatus},
      reject_reason = #{rejectReason},
      is_transfer = #{isTransfer}
    where applcation_no = #{applicationNo}
  </update>
</mapper>