<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiangshangban.att_simple.dao.ApplicationTotalRecordMapper">
  <resultMap id="BaseResultMap" type="com.xiangshangban.att_simple.bean.ApplicationTotalRecord">
    <id column="application_no"  property="applicationNo" />
    <result column="operater_time"  property="operaterTime" />
    <result column="operater_id"  property="operaterId" />
    <result column="application_type"  property="applicationType" />
    <result column="last_approver"  property="lastApprover" />
    <result column="is_copy"  property="isCopy" />
    <result column="application_id"  property="applicationId" />
    <result column="employee_name"  property="applicationName" />
    <result column="company_id"  property="companyId" />
    <result column="is_reject"  property="isReject" />
    <result column="application_status"  property="applicationStatus" />
    <result column="reject_reason"  property="rejectReason" />
    <result column="is_transfer"  property="isTransfer" />
    <result column="is_complete"  property="isComplete" />
    <result column="is_skip_rest_day"  property="isSkipRestDay" />
    <result column="copy_person_id"  property="appCopyPersonId" />
    <result column="transfer_person_id"  property="transferPersonId" />
  </resultMap>
  <sql id="Base_Column_List">
    atr.application_no, atr.operater_time, atr.operater_id, atr.application_type, atr.last_approver, atr.is_copy, 
    atr.application_id, atr.company_id, atr.is_reject, atr.application_status, atr.reject_reason, 
    atr.is_transfer, atr.is_complete, atr.is_skip_rest_day
  </sql>
  <!-- 添加新的申请记录 -->
  <insert id="insertApplicationRecord" parameterType="com.xiangshangban.att_simple.bean.Application">
  	insert into application_total_record_
  	 <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="applicationNo != null">application_no,</if>
        operater_time,
      <if test="operaterId != null">operater_id,</if>
      <if test="applicationType != null">application_type,</if>
      <if test="approver != null">last_approver,</if>
      <if test="isCopy != null">is_copy,</if>
      <if test="applicationId != null">application_id,</if>
      <if test="companyId != null">company_id,</if>
      <if test="isReject != null">is_reject,</if>
      <if test="applicationStatus != null">application_status,</if>
      <if test="rejectReason != null">reject_reason,</if>
      <if test="isTransfer != null">is_transfer,</if>
      <if test="isComplete != null">is_complete,</if>
      <if test="isSkipRestDay != null">is_skip_rest_day,</if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="applicationNo != null">#{applicationNo},</if>
      to_char(now(),'yyyy-MM-dd hh24:mi:ss'),
      <if test="operaterId != null">#{operaterId},</if>
      <if test="applicationType != null">#{applicationType},</if>
      <if test="approver != null">#{approver},</if>
      <if test="isCopy != null">#{isCopy},</if>
      <if test="applicationId != null">#{applicationId},</if>
      <if test="companyId != null">#{companyId},</if>
      <if test="isReject != null">#{isReject},</if>
      <if test="applicationStatus != null">#{applicationStatus},</if>
      <if test="rejectReason != null">#{rejectReason},</if>
      <if test="isTransfer != null">#{isTransfer},</if>
      <if test="isComplete != null">#{isComplete},</if>
      <if test="isSkipRestDay != null">#{isSkipRestDay},</if>
    </trim>
  </insert>
	<!-- 申请列表 -->  
	<select id="selectApplicationList" parameterType="java.lang.String" resultMap="BaseResultMap">
  	select application_no,application_type,is_reject,is_transfer,is_complete from att_simple.application_total_record_ atr
  	where atr.application_id =#{applicationId} and atr.company_id =#{companyId} order by atr.operater_time DESC
  	limit #{count}::integer offset #{page}::integer
  </select>
  <!-- 审批列表 -->
  <select id="selectApproverListTotal" parameterType="java.lang.String" resultMap="BaseResultMap">
 	select <include refid="Base_Column_List"/> ,e.employee_name,t.copy_person_id,t.transfer_person_id from 
	(select atr.*,cp.copy_person_id,tr.transfer_person_id from application_total_record_ atr 
	LEFT JOIN att_simple.application_to_copy_person_ cp on atr.application_no = cp.application_no and cp.company_id = atr.company_id
	left join att_simple.application_transfer_record_ tr on atr.application_no = tr.application_no and tr.company_id = atr.company_id
	where atr.company_id = #{companyId}
	and atr.last_approver = #{employeeId} 
	and is_copy = '0' and is_transfer = '0'
	UNION
	select atr.*,cp.copy_person_id,tr.transfer_person_id from application_total_record_ atr 
	LEFT JOIN att_simple.application_to_copy_person_ cp on atr.application_no = cp.application_no and cp.company_id = atr.company_id
	left join att_simple.application_transfer_record_ tr on atr.application_no = tr.application_no and tr.company_id = atr.company_id
	where atr.company_id = #{companyId}
	and cp.copy_person_id =#{employeeId} 
	and is_copy='1' and is_transfer = '0'
	UNION
	select atr.*,cp.copy_person_id,tr.transfer_person_id from application_total_record_ atr 
	LEFT JOIN att_simple.application_to_copy_person_ cp on atr.application_no = cp.application_no and cp.company_id = atr.company_id
	left join att_simple.application_transfer_record_ tr on atr.application_no = tr.application_no and tr.company_id = atr.company_id
	where atr.company_id = #{companyId}
	and atr.last_approver = #{employeeId}
	and is_transfer = '1' and is_copy='0'
	union
	select atr.*,cp.copy_person_id,tr.transfer_person_id from application_total_record_ atr 
	LEFT JOIN att_simple.application_to_copy_person_ cp on atr.application_no = cp.application_no and cp.company_id = atr.company_id
	left join att_simple.application_transfer_record_ tr on atr.application_no = tr.application_no and tr.company_id = atr.company_id
	where atr.company_id =#{companyId}
	and tr.transfer_person_id = #{employeeId}
	and is_transfer = '1' and is_copy='0') t
	LEFT JOIN organization.employee_ e on e.company_id = #{companyId} 
	  	and e.employee_id = t.application_id 
	where t.application_status = '1' 
	<if test="applicationType!=null and application!=''">
  	and atr.application_type = #{applicationType}
  	</if>
  	<choose>
  		<when test="statusDescription=='未审批'">
  		and t.is_complete='0' and t.last_approver = #{employeeId} and application_status = '1'
  		</when>
  		<when test="statusDescription=='已转移'">
  		and t.last_approver!=#{employeeId} and t.transfer_person_id =#{employeeId}
  		</when>
  		<when test="statusDescription=='已通过'">
  		and t.is_complete='1' and t.is_reject='0'
  		</when>
  		<when test="statusDescription=='已驳回'">
  		and t.is_complete='1' and t.is_reject='1'
  		</when>
  		<when test="statusDescription=='抄送'">
  		and t.is_copy='1' and t.copy_person_id = #{employeeId} and application_status = '1'
  		</when>
  	</choose>
  	<if test="applicationTimeStart!=null and applicationTimeEnd!=null">
  	and applicationTime between #{applicationTimeStart} and #{applicationTimeEnd} 
  	</if>
  	<if test="employeeName!=null and employeeName!=''">
  	and e.employee_name like #{employeeName} 
 	</if>
	order by t.operater_time DESC
  	limit #{count}::integer offset #{page}::integer
  </select>
  
  <!-- 待审批条数 -->
  <select id="selectCountFromWillApprover" parameterType="java.lang.String" resultType="java.lang.Integer">
  	select count(atr.applicationNo) from att_simple.application_total_record_ atr 
  	where atr.last_approver = #{employeeId} and atr.company_id = #{companyId} atr.is_complete='0'
  </select>
  
  <resultMap id="ApproverDetailsResultMap" type="com.xiangshangban.att_simple.bean.ApplicationTotalRecord">
    <id column="application_no"  property="applicationNo" />
    <result column="operater_time"  property="operaterTime" />
    <result column="operater_id"  property="operaterId" />
    <result column="application_type"  property="applicationType" />
    <result column="last_approver"  property="lastApprover" />
    <result column="is_copy"  property="isCopy" />
    <result column="application_id"  property="applicationId" />
    <result column="employee_name"  property="applicationName" />
    <result column="company_id"  property="companyId" />
    <result column="is_reject"  property="isReject" />
    <result column="application_status"  property="applicationStatus" />
    <result column="reject_reason"  property="rejectReason" />
    <result column="is_transfer"  property="isTransfer" />
    <result column="is_complete"  property="isComplete" />
    <result column="is_skip_rest_day"  property="isSkipRestDay" />
    <result column="copy_person_id"  property="appCopyPersonId" />
    <result column="transfer_person_id"  property="transferPersonId" />
    <collection property="applicationTransferRecordList" 
    ofType="com.xiangshangban.att_simple.bean.ApplicationTransferRecord" >
    	<result column="tr_id" property="id"/>
    	<result column="tr_application_no" property="applicationNo"/>
    	<result column="tr_transfer_person_id" property="transferPersonId"/>
    	<result column="tr_employee_name" property="transferPersonName"/>
    	<result column="tr_transfer_persion_access_id" property="transferPersionAccessId"/>
    	<result column="tr_transfer_times" property="transferTimes"/>
    	<result column="tr_operater_time" property="operaterTime"/>
    	<result column="tr_transfer_explain" property="transferExplain"/>
    	<result column="tr_company_id" property="companyId"/>
    </collection>
    <collection property="applicationToCopyPersonList"
    ofType="com.xiangshangban.att_simple.bean.ApplicationToCopyPerson">
    	<result column="cp_id" property="id"/>
    	<result column="cp_application_no" property="applicationNo"/>
    	<result column="cp_copy_person_id" property="appCopyPersonId"/>
    	<result column="cp_employee_name" property="appCopyPersonName"/>
    	<result column="cp_operater_time" property="operaterTime"/>
    	<result column="cp_company_id" property="companyId"/>
    </collection>
  </resultMap>
    <sql id="TR_Base_Column_List">
    tr.id tr_id, tr.application_no tr_application_no, tr.transfer_person_id tr_transfer_person_id, 
    tr.employee_name tr_employee_name,tr.transfer_persion_access_id tr_transfer_persion_access_id,
    tr.transfer_times tr_transfer_times, 
    tr.operater_time tr_operater_time, tr.transfer_explain tr_transfer_explain, tr.company_id tr_company_id
  </sql>
  <sql id="tr_Base_Column_List">
    trf.id, trf.application_no, trf.transfer_person_id, trf.transfer_persion_access_id, trf.transfer_times, 
    trf.operater_time, trf.transfer_explain, trf.company_id
  </sql>
   <sql id="CP_Base_Column_List">
    cp.id cp_id, cp.application_no cp_application_no, cp.copy_person_id cp_copy_person_id,
    cp.employee_name cp_employee_name,cp.operater_time cp_operater_time, cp.company_id cp_company_id
  </sql>
   <sql id="cp_Base_Column_List">
    acp.id, acp.application_no, acp.copy_person_id, acp.operater_time, acp.company_id
  </sql>
  <!-- 审批详情 -->
  <select id="selectApproverDetails" parameterType="java.lang.String" resultMap="ApproverDetailsResultMap">
  	select <include refid="Base_Column_List"/>,<include refid="TR_Base_Column_List"/>
  	,<include refid="CP_Base_Column_List"/>
  	from att_simple.application_total_record_ atr 
  	left join 
  	(
  	select <include refid="tr_Base_Column_List"/>,e.employee_name
  	from att_simple.application_transfer_record_ trf
  	left join organization.employee_ e on e.employee_id = trf.transfer_person_id and e.company_id = #{companyId}
  	where trf.application_no =#{applicationNo}
  	) tr on atr.application_no = tr.application_no
  	left join 
  	(
  	select <include refid="cp_Base_Column_List"/> ,e.employee_name
  	from att_simple.application_to_copy_person_ acp
  	left join organization.employee_ e on e.employee_id = acp.copy_person_id and e.company_id = #{companyId}
  	where acp.application_no =#{applicationNo}
  	) cp on atr.application_no = cp.application_no
  	where atr.application_no = #{applicationNo}
  </select>
  
  
  
  <!-- 系统 -->
  <!-- 根据单号查询申请状态 -->
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from application_total_record_ atr
    where atr.application_no = #{applicationNo}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from application_total_record_ 
    where application_no = #{applicationNo}
  </delete>
  <insert id="insert" parameterType="com.xiangshangban.att_simple.bean.ApplicationTotalRecord">
    insert into application_total_record_ (application_no, operater_time, operater_id, 
      application_type, last_approver, is_copy, 
      application_id, company_id, is_reject, 
      application_status, reject_reason, is_transfer
      )
    values (#{applicationNo}, #{operaterTime}, #{operaterId}, 
      #{applicationType}, #{lastApprover}, #{isCopy}, 
      #{applicationId}, #{companyId}, #{isReject}, 
      #{applicationStatus}, #{rejectReason}, #{isTransfer}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.xiangshangban.att_simple.bean.ApplicationTotalRecord">
    insert into application_total_record_
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="applicationNo != null">
        application_no,
      </if>
      <if test="operaterTime != null">
        operater_time,
      </if>
      <if test="operaterId != null">
        operater_id,
      </if>
      <if test="applicationType != null">
        application_type,
      </if>
      <if test="lastApprover != null">
        last_approver,
      </if>
      <if test="isCopy != null">
        is_copy,
      </if>
      <if test="applicationId != null">
        application_id,
      </if>
      <if test="companyId != null">
        company_id,
      </if>
      <if test="isReject != null">
        is_reject,
      </if>
      <if test="applicationStatus != null">
        application_status,
      </if>
      <if test="rejectReason != null">
        reject_reason,
      </if>
      <if test="isTransfer != null">
        is_transfer,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="applicationNo != null">
        #{applicationNo},
      </if>
      <if test="operaterTime != null">
        #{operaterTime},
      </if>
      <if test="operaterId != null">
        #{operaterId},
      </if>
      <if test="applicationType != null">
        #{applicationType},
      </if>
      <if test="lastApprover != null">
        #{lastApprover},
      </if>
      <if test="isCopy != null">
        #{isCopy},
      </if>
      <if test="applicationId != null">
        #{applicationId},
      </if>
      <if test="companyId != null">
        #{companyId},
      </if>
      <if test="isReject != null">
        #{isReject},
      </if>
      <if test="applicationStatus != null">
        #{applicationStatus},
      </if>
      <if test="rejectReason != null">
        #{rejectReason},
      </if>
      <if test="isTransfer != null">
        #{isTransfer},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.xiangshangban.att_simple.bean.ApplicationTotalRecord">
    update application_total_record_
    <set>
      <if test="operaterTime != null">
        operater_time = #{operaterTime},
      </if>
      <if test="operaterId != null">
        operater_id = #{operaterId},
      </if>
      <if test="applicationType != null">
        application_type = #{applicationType},
      </if>
      <if test="lastApprover != null">
        last_approver = #{lastApprover},
      </if>
      <if test="isCopy != null">
        is_copy = #{isCopy},
      </if>
      <if test="applicationId != null">
        application_id = #{applicationId},
      </if>
      <if test="companyId != null">
        company_id = #{companyId},
      </if>
      <if test="isReject != null">
        is_reject = #{isReject},
      </if>
      <if test="applicationStatus != null">
        application_status = #{applicationStatus},
      </if>
      <if test="rejectReason != null">
        reject_reason = #{rejectReason},
      </if>
      <if test="isTransfer != null">
        is_transfer = #{isTransfer},
      </if>
    </set>
    where application_no = #{applicationNo} and operater_time = #{previousOperaterTime}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xiangshangban.att_simple.bean.ApplicationTotalRecord">
    update application_total_record_
    set operater_time = #{operaterTime},
      operater_id = #{operaterId},
      application_type = #{applicationType},
      last_approver = #{lastApprover},
      is_copy = #{isCopy},
      application_id = #{applicationId},
      company_id = #{companyId},
      is_reject = #{isReject},
      application_status = #{applicationStatus},
      reject_reason = #{rejectReason},
      is_transfer = #{isTransfer}
    where application_no = #{applicationNo}
  </update>
</mapper>