<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiangshangban.att_simple.dao.ApplicationOvertimeMapper">
  <resultMap id="BaseResultMap" type="com.xiangshangban.att_simple.bean.ApplicationOvertime">
    <result column="application_no"  property="applicationNo" />
    <result column="employee_id"  property="employeeId" />
    <result column="department_id"  property="departmentId" />
    <result column="company_id"  property="companyId" />
    <result column="overtime_type"  property="overtimeType" />
    <result column="start_time"  property="startTime" />
    <result column="end_time"  property="endTime" />
    <result column="reason"  property="reason" />
    <result column="upload_voucher"  property="uploadVoucher" />
    <result column="approver"  property="approver" />
    <result column="operater_time"  property="operaterTime" />
    <result column="is_transfer"  property="isTransfer" />
    <result column="application_hour"  property="applicationHour" />
    <result column="application_time"  property="applicationTime" />
  </resultMap>
  <sql id="Base_Column_List">
    application_no, employee_id, department_id, company_id, overtime_type, start_time, 
    end_time, reason, upload_voucher, approver, operater_time, is_transfer, application_hour, 
    application_time
  </sql>
  
  <!-- 添加加班申请记录 -->
  <insert id="insertApplicationOvertimeRecord" parameterType="com.xiangshangban.att_simple.bean.ApplicationOvertime">
    insert into application_overtime_
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="applicationNo != null">
        application_no,
      </if>
      <if test="employeeId != null">
        employee_id,
      </if>
      <if test="departmentId != null">
        department_id,
      </if>
      <if test="companyId != null">
        company_id,
      </if>
      <if test="overtimeType != null">
        overtime_type,
      </if>
      <if test="startTime != null">
        start_time,
      </if>
      <if test="endTime != null">
        end_time,
      </if>
      <if test="reason != null">
        reason,
      </if>
      <if test="uploadVoucher != null">
        upload_voucher,
      </if>
      <if test="approver != null">
        approver,
      </if>
      <if test="operaterTime != null">
        operater_time,
      </if>
      <if test="isTransfer != null">
        is_transfer,
      </if>
      <if test="applicationHour != null">
        application_hour,
      </if>
      <if test="applicationTime != null">
        application_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="applicationNo != null">
        #{applicationNo},
      </if>
      <if test="employeeId != null">
        #{employeeId},
      </if>
      <if test="departmentId != null">
        #{departmentId},
      </if>
      <if test="companyId != null">
        #{companyId},
      </if>
      <if test="overtimeType != null">
        #{overtimeType},
      </if>
      <if test="startTime != null">
        #{startTime},
      </if>
      <if test="endTime != null">
        #{endTime},
      </if>
      <if test="reason != null">
        #{reason},
      </if>
      <if test="uploadVoucher != null">
        #{uploadVoucher},
      </if>
      <if test="approver != null">
        #{approver},
      </if>
      <if test="operaterTime != null">
        #{operaterTime},
      </if>
      <if test="isTransfer != null">
        #{isTransfer},
      </if>
      <if test="applicationHour != null">
        #{applicationHour},
      </if>
      <if test="applicationTime != null">
        #{applicationTime},
      </if>
    </trim>
  </insert>
    	<resultMap type="com.xiangshangban.att_simple.bean.Application" id="Application_List">
		<result column="application_no" property="applicationNo"/>
		<result column="employee_id" property="applicationId"/>
		<result column="department_id" property="departmentId"/>
		<result column="company_id" property="companyId"/>
		<result column="overtime_type" property="applicationChildrenType"/>
		<result column="start_time" property="startTime"/>
		<result column="end_time" property="endTime"/>
		<result column="reason" property="reason"/>
		<result column="upload_voucher" property="uploadVoucher"/>
		<result column="approver" property="approver"/>
		<result column="application_hour" property="applicationHour"/>
		<result column="application_time" property="applicationTime"/>
	</resultMap>
    <!-- 根据申请单号查询详细内容 -->
  <select id="selectDetailsByApplicationNo" parameterType="java.lang.String" resultMap="Application_List"> 
  	select <include refid="Base_Column_List"/>
  	from att_simple.application_overtime_ o
  	where o.application_no = #{applicationNo}
  </select>
  
  
  
  <insert id="insert" parameterType="com.xiangshangban.att_simple.bean.ApplicationOvertime">
    insert into application_overtime_ (application_no, employee_id, 
      department_id, company_id, overtime_type, 
      start_time, end_time, reason, 
      upload_voucher, approver, operater_time, 
      is_transfer, application_hour, application_time
      )
    values (#{applicationNo}, #{employeeId}, 
      #{departmentId}, #{companyId}, #{overtimeType}, 
      #{startTime}, #{endTime}, #{reason}, 
      #{uploadVoucher}, #{approver}, #{operaterTime}, 
      #{isTransfer}, #{applicationHour}, #{applicationTime}
      )
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.xiangshangban.att_simple.bean.ApplicationOvertime">
    update application_overtime_
    <set>
      <if test="employeeId != null">
        employee_id = #{employeeId},
      </if>
      <if test="departmentId != null">
        department_id = #{departmentId},
      </if>
      <if test="companyId != null">
        company_id = #{companyId},
      </if>
      <if test="overtimeType != null">
        overtime_type = #{overtimeType},
      </if>
      <if test="startTime != null">
        start_time = #{startTime},
      </if>
      <if test="endTime != null">
        end_time = #{endTime},
      </if>
      <if test="reason != null">
        reason = #{reason},
      </if>
      <if test="uploadVoucher != null">
        upload_voucher = #{uploadVoucher},
      </if>
      <if test="approver != null">
        approver = #{approver},
      </if>
      <if test="operaterTime != null">
        operater_time = #{operaterTime},
      </if>
      <if test="isTransfer != null">
        is_transfer = #{isTransfer},
      </if>
      <if test="applicationHour != null">
        application_hour = #{applicationHour},
      </if>
      <if test="applicationTime != null">
        application_time = #{applicationTime},
      </if>
    </set>
    where application_no = #{applicationNo}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xiangshangban.att_simple.bean.ApplicationOvertime">
    update application_overtime_
    set employee_id = #{employeeId},
      department_id = #{departmentId},
      company_id = #{companyId},
      overtime_type = #{overtimeType},
      start_time = #{startTime},
      end_time = #{endTime},
      reason = #{reason},
      upload_voucher = #{uploadVoucher},
      approver = #{approver},
      operater_time = #{operaterTime},
      is_transfer = #{isTransfer},
      application_hour = #{applicationHour},
      application_time = #{applicationTime}
    where application_no = #{applicationNo}
  </update>
</mapper>