<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiangshangban.att_simple.dao.ApplicationFillCardMapper">
  <resultMap id="BaseResultMap" type="com.xiangshangban.att_simple.bean.ApplicationFillCard">
    <result column="application_no"  property="applicationNo" />
    <result column="employee_id"  property="employeeId" />
    <result column="department_id"  property="departmentId" />
    <result column="company_id"  property="companyId" />
    <result column="fill_card_type"  property="fillCardType" />
    <result column="fill_card_time"  property="fillCardTime" />
    <result column="reason"  property="reason" />
    <result column="upload_voucher"  property="uploadVoucher" />
    <result column="approver"  property="approver" />
    <result column="operater_time"  property="operaterTime" />
    <result column="is_transfer"  property="isTransfer" />
    <result column="application_time"  property="applicationTime" />
    <result column="department_name"  property="departmentName" />
    <result column="employeee_name"  property="employeeeName" />
  </resultMap>
  <sql id="Base_Column_List">
    afc.application_no, afc.employee_id, afc.department_id, afc.company_id, afc.fill_card_type, afc.fill_card_time, 
    afc.reason, afc.upload_voucher, afc.approver, afc.operater_time, afc.is_transfer, afc.application_time
  </sql>
  
  <select id="FindAllNumber" parameterType="com.xiangshangban.att_simple.bean.Paging" resultType="java.lang.Integer">
  	select count(*) from application_fill_card_ afc
	left JOIN application_total_record_ atr
	on afc.application_no = atr.application_no
	where afc.company_id = #{companyId}
	and atr.is_complete = '1'
	and afc.application_time <![CDATA[>=]]> #{beginDate} 
	and afc.application_time <![CDATA[<=]]> #{endDate} 
  </select>
  
  <select id="SelectApplicationFillCardDetails" parameterType="java.lang.String" resultMap="BaseResultMap">
  	select DISTINCT afc.application_no,d.department_name,e.employee_name,afc.application_time,atr.operater_time,afc.fill_card_time,
	CASE
		fill_card_type WHEN '1' then '下班补卡'
		when '2' then '下班补卡'
		when '3' then '消迟到'
		when '4' then '消早退'
	end fill_card_type
	,
	CASE 
		afc.approver WHEN '0' then '系统代补勤'
		WHEN '1' then '系统代补勤'
		ELSE 'app补勤'
	end approver
	from application_fill_card_  afc
	LEFT JOIN application_total_record_ atr
	on afc.application_no = atr.application_no and afc.employee_id = atr.application_id and afc.company_id = atr.company_id
	LEFT JOIN organization.employee_ e
	on atr.application_id = e.employee_id and atr.company_id = e.company_id
	LEFT JOIN organization.department_ d
	on e.department_id = d.department_id and e.company_id = d.company_id
	where atr.is_complete = '1'
	and afc.application_no = #{applicationNo}
  </select>
  
  <select id="SelectFuzzyPagel" parameterType="com.xiangshangban.att_simple.bean.Paging" resultMap="BaseResultMap">
  	select DISTINCT afc.application_no,d.department_name,e.employee_name,afc.application_time,atr.operater_time,afc.fill_card_time,
	CASE
		fill_card_type WHEN '1' then '下班补卡'
		when '2' then '下班补卡'
		when '3' then '消迟到'
		when '4' then '消早退'
	end fill_card_type
	,
	CASE 
		afc.approver WHEN '0' then '系统代补勤'
		WHEN '1' then '系统代补勤'
		ELSE 'app补勤'
	end approver
	from application_fill_card_  afc
	LEFT JOIN application_total_record_ atr
	on afc.application_no = atr.application_no and afc.employee_id = atr.application_id and afc.company_id = atr.company_id
	LEFT JOIN organization.employee_ e
	on atr.application_id = e.employee_id and atr.company_id = e.company_id
	LEFT JOIN organization.department_ d
	on e.department_id = d.department_id and e.company_id = d.company_id
	where afc.company_id = #{companyId}
	<if test="departmentId != null">
		and d.department_id = #{departmentId}
	</if>
	<if test="employeeName != null">
		and e.employee_name = '%${employeeName}%'
	</if>
	and afc.application_time <![CDATA[>=]]> #{beginDate} 
	and afc.application_time <![CDATA[<=]]> #{endDate} 
	and atr.is_complete = '1'
	ORDER BY afc.application_time ${applicationTimeRank}
	LIMIT ${pageNum} OFFSET ${pageExcludeNumber}
  </select>
  
  <!-- 添加补卡申请记录 -->
  <insert id="insertApplicationFillCardRecord" parameterType="com.xiangshangban.att_simple.bean.ApplicationFillCard">
  	insert into application_fill_card_ 
  	<trim  prefix="(" suffixOverrides="," suffix=")">
  		<if test="applicationNo!=null and applicationNo!='' ">application_no,</if>
  		<if test="employeeId!=null and employeeId!='' ">employee_id,</if>
  		<if test="departmentId!=null and departmentId!='' ">department_id,</if>
  		<if test="companyId!=null and companyId!='' ">company_id,</if>
  		<if test="fillCardType!=null and fillCardType!='' ">fill_card_type,</if>
  		<if test="fillCardTime!=null and fillCardTime!=''">fill_card_time,</if>
  		<if test="reason!=null and reason!='' ">reason,</if>
  		<if test="uploadVoucher!=null and uploadVoucher!=''">upload_voucher,</if>
  		<if test="approver!=null and approver!=''">approver,</if>
  		<if test="operaterTime!=null and operaterTime!=''">operater_time,</if>
  		<if test="isTransfer!=null and isTransfer!=''">is_transfer,</if>
  		<if test="applicationTime!=null and applicationTime!=''">application_time</if>
  	</trim>
  	<trim prefix="values(" suffixOverrides="," suffix=")">
  		<if test="applicationNo!=null and applicationNo!='' ">#{applicationNo},</if>
  		<if test="employeeId!=null and employeeId!='' ">#{employeeId},</if>
  		<if test="departmentId!=null and departmentId!='' ">#{departmentId},</if>
  		<if test="companyId!=null and companyId!='' ">#{companyId},</if>
  		<if test="fillCardType!=null and fillCardType!='' ">#{fillCardType},</if>
  		<if test="fillCardTime!=null and fillCardTime!=''">#{fillCardTime},</if>
  		<if test="reason!=null and reason!='' ">#{reason},</if>
  		<if test="uploadVoucher!=null and uploadVoucher!=''">#{uploadVoucher},</if>
  		<if test="approver!=null and approver!=''">#{approver},</if>
  		<if test="operaterTime!=null and operaterTime!=''">#{operaterTime},</if>
  		<if test="isTransfer!=null and isTransfer!=''">#{isTransfer},</if>
  		<if test="applicationTime!=null and applicationTime!=''">#{applicationTime}</if>
  	</trim>
  </insert>
    <resultMap type="com.xiangshangban.att_simple.bean.Application" id="Application_List">
		<result column="application_no" property="applicationNo"/>
		<result column="employee_id" property="applicationId"/>
		<result column="department_id" property="departmentId"/>
		<result column="company_id" property="companyId"/>
		<result column="fill_card_type" property="applicationChildrenType"/>
		<result column="start_time" property="startTime"/>
		<result column="upload_voucher" property="uploadVoucher"/>
		<result column="approver" property="approver"/>
		<result column="fill_card_time" property="fillCardTime"/>
		<result column="application_time" property="applicationTime"/>
	</resultMap>
      <!-- 根据申请单号查询详细内容 -->
  <select id="selectDetailsByApplicationNo" parameterType="java.lang.String" resultMap="Application_List"> 
  	select <include refid="Base_Column_List"/>
  	from att_simple.application_fill_card_ afc
  	where afc.application_no = #{applicationNo}
  </select>
</mapper>