<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiangshangban.att_simple.dao.ApplicationTotalRecordMapper">
  <resultMap id="BaseResultMap" type="com.xiangshangban.att_simple.bean.ApplicationTotalRecord">
    <id column="application_no"  property="applicationNo" />
    <result column="operater_time"  property="operaterTime" />
    <result column="application_time"  property="applicationTime" />
    <result column="operater_id"  property="operaterId" />
    <result column="application_type"  property="applicationType" />
    <result column="last_approver"  property="lastApprover" />
    <result column="last_approver_name"  property="lastApproverName" />
    <result column="is_copy"  property="isCopy" />
    <result column="application_id"  property="applicationId" />
    <result column="application_name"  property="applicationName" />
    <result column="department_id"  property="deparmentId" />
    <result column="department_name"  property="departmentName" />
    <result column="company_id"  property="companyId" />
    <result column="is_reject"  property="isReject" />
    <result column="application_status"  property="applicationStatus" />
    <result column="reject_reason"  property="rejectReason" />
    <result column="is_transfer"  property="isTransfer" />
    <result column="is_complete"  property="isComplete" />
    <result column="is_skip_rest_day"  property="isSkipRestDay" />
    <result column="copy_person_id"  property="appCopyPersonId" />
    <result column="transfer_person_id"  property="transferPersonId" />
    <result column="children_description"  property="childrenDescription" />
  </resultMap>
  <sql id="Base_Column_List">
    atr.application_no, atr.operater_time, atr.operater_id, atr.application_type, atr.last_approver, atr.is_copy, 
    atr.application_id, atr.company_id, atr.is_reject, atr.application_status, atr.reject_reason, 
    atr.is_transfer, atr.is_complete, atr.is_skip_rest_day
  </sql>
  <!-- 添加新的申请记录 -->
  <insert id="insertApplicationRecord" parameterType="com.xiangshangban.att_simple.bean.Application">
  	insert into application_total_record_
  	 <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="applicationNo != null">application_no,</if>
        operater_time,
      <if test="operaterId != null">operater_id,</if>
      <if test="applicationType != null">application_type,</if>
      <if test="approver != null">last_approver,</if>
      <if test="isCopy != null">is_copy,</if>
      <if test="applicationId != null">application_id,</if>
      <if test="companyId != null">company_id,</if>
      <if test="isReject != null">is_reject,</if>
      <if test="applicationStatus != null">application_status,</if>
      <if test="rejectReason != null">reject_reason,</if>
      <if test="isTransfer != null">is_transfer,</if>
      <if test="isComplete != null">is_complete,</if>
      <if test="isSkipRestDay != null">is_skip_rest_day,</if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="applicationNo != null">#{applicationNo},</if>
      to_char(now(),'yyyy-MM-dd hh24:mi:ss'),
      <if test="operaterId != null">#{operaterId},</if>
      <if test="applicationType != null">#{applicationType},</if>
      <if test="approver != null">#{approver},</if>
      <if test="isCopy != null">#{isCopy},</if>
      <if test="applicationId != null">#{applicationId},</if>
      <if test="companyId != null">#{companyId},</if>
      <if test="isReject != null">#{isReject},</if>
      <if test="applicationStatus != null">#{applicationStatus},</if>
      <if test="rejectReason != null">#{rejectReason},</if>
      <if test="isTransfer != null">#{isTransfer},</if>
      <if test="isComplete != null">#{isComplete},</if>
      <if test="isSkipRestDay != null">#{isSkipRestDay},</if>
    </trim>
  </insert>
	<!-- 申请列表 -->  
	<!-- 申请列表 -->  
	<select id="selectApplicationList" parameterType="java.lang.String" resultMap="BaseResultMap">
	  	select <include refid="Base_Column_List"/>,
	  	case application_type when '1' then l.application_time
		when '2' then over.application_time
		when '3' then bt.application_time
		when '4' then out.application_time
		when '5' then fc.application_time
		end as application_time
	  	from att_simple.application_total_record_ atr
	  	left join application_leave_ l on l.application_no =atr.application_no
		left join application_overtime_ over on over.application_no =atr.application_no
		left join application_business_travel_ bt on bt.application_no =atr.application_no
		left join application_outgoing_ out on out.application_no =atr.application_no
		left join application_fill_card_ fc on fc.application_no =atr.application_no
	  	where atr.application_id =#{employeeId} and atr.company_id =#{companyId} order by atr.operater_time DESC
	  	limit #{count}::integer offset #{page}::integer
  </select>

   <sql id="T_Base_Column_List">
    t.application_no, t.operater_time, t.operater_id, t.application_type, t.last_approver, t.is_copy, 
    t.application_id, t.company_id, t.is_reject, t.application_status, t.reject_reason, 
    t.is_transfer, t.is_complete, t.is_skip_rest_day
  </sql>
  <!-- 审批列表 -->
  <select id="selectApproverListTotal" parameterType="java.lang.String" resultMap="ApproverDetailsResultMap">
 	select <include refid="T_Base_Column_List"/> ,
 	<include refid="AL_Base_Column_List"/>,
  	<include refid="AO_Base_Column_List"/>,
  	<include refid="ABT_Base_Column_List"/>,
  	<include refid="AOT_Base_Column_List"/>,
  	<include refid="AFC_Base_Column_List"/>,e.employee_name,t.copy_person_id,t.transfer_person_id from 
	(select atr.*,cp.copy_person_id,tr.transfer_person_id from application_total_record_ atr 
	LEFT JOIN att_simple.application_to_copy_person_ cp 
		on atr.application_no = cp.application_no and cp.company_id = atr.company_id
	left join att_simple.application_transfer_record_ tr 
		on atr.application_no = tr.application_no and tr.company_id = atr.company_id
			where atr.company_id = #{companyId}
			and atr.last_approver = #{employeeId} 
			<!-- and is_copy = '0' and is_transfer = '0' -->
	UNION
	select atr.*,cp.copy_person_id,tr.transfer_person_id from application_total_record_ atr 
	LEFT JOIN att_simple.application_to_copy_person_ cp 
		on atr.application_no = cp.application_no and cp.company_id = atr.company_id
	left join att_simple.application_transfer_record_ tr 
		on atr.application_no = tr.application_no and tr.company_id = atr.company_id
			where atr.company_id = #{companyId}
			and cp.copy_person_id =#{employeeId} 
			and is_copy='1' and is_transfer = '0'
	UNION
	select atr.*,cp.copy_person_id,tr.transfer_person_id from application_total_record_ atr 
	LEFT JOIN att_simple.application_to_copy_person_ cp 
		on atr.application_no = cp.application_no and cp.company_id = atr.company_id
	left join att_simple.application_transfer_record_ tr 
		on atr.application_no = tr.application_no and tr.company_id = atr.company_id
			where atr.company_id = #{companyId}
			and atr.last_approver = #{employeeId}
			and is_transfer = '1' and is_copy='0'
	union
	select atr.*,cp.copy_person_id,tr.transfer_person_id 
	from application_total_record_ atr 
	LEFT JOIN att_simple.application_to_copy_person_ cp 
		on atr.application_no = cp.application_no and cp.company_id = atr.company_id
	left join att_simple.application_transfer_record_ tr 
		on atr.application_no = tr.application_no and tr.company_id = atr.company_id
			where atr.company_id =#{companyId}
			and tr.transfer_person_id = #{employeeId}
			and is_transfer = '1' and is_copy='0') t
	LEFT JOIN organization.employee_ e on e.company_id = #{companyId} 
	  	and e.employee_id = t.application_id 
	left join application_leave_ al on t.application_no = al.application_no
  	left join application_overtime_ ao on t.application_no = ao.application_no
  	left join application_business_travel_ abt on t.application_no = abt.application_no
  	left join application_outgoing_ aot on t.application_no = aot.application_no
  	left join application_fill_card_ afc on t.application_no = afc.application_no
	where t.application_status = '1' 
	<if test="applicationType!=null and applicationType!=''">
  	and t.application_type = #{applicationType}
  	</if>
  	<if test="statusDescription=='' or statusDescription==null">
  	and (t.is_complete='0' and t.last_approver = #{employeeId} and t.application_status = '1'
  	or t.is_complete='0' and t.is_copy='1' and t.copy_person_id = #{employeeId} and t.application_status = '1')
  	</if>
  	<choose>
  		<when test="statusDescription=='未审批'">
  		and t.is_complete='0' and t.last_approver = #{employeeId} and t.application_status = '1'
  		</when>
  		<when test="statusDescription=='已转移'">
  		and t.last_approver!=#{employeeId} and t.transfer_person_id =#{employeeId}
  		</when>
  		<when test="statusDescription=='已通过'">
  		and t.is_complete='1' and t.is_reject='0'
  		</when>
  		<when test="statusDescription=='已驳回'">
  		and t.is_complete='1' and t.is_reject='1'
  		</when>
  		<when test="statusDescription=='抄送'">
  		and t.is_copy='1' and t.copy_person_id = #{employeeId} and t.application_status = '1'
  		</when>
  	</choose>
  	<if test="applicationTimeStart!=null and applicationTimeStart!='' and applicationTimeEnd!=null and applicationTimeEnd!=''">
  	and t.operater_time between #{applicationTimeStart} and #{applicationTimeEnd} 
  	</if>
  	<if test="employeeName!=null and employeeName!=''">
  	and e.employee_name like #{employeeName} 
 	</if>
	order by t.operater_time DESC
  	limit #{count}::integer offset #{page}::integer
  </select>
  
  <!-- 待审批条数 -->
  <select id="selectCountFromWillApprover" parameterType="java.lang.String" resultType="java.lang.Integer">
  	select count(atr.application_no) from att_simple.application_total_record_ atr 
  	where atr.last_approver = #{employeeId} and atr.company_id = #{companyId} and atr.is_complete='0'
  </select>
  
  <resultMap id="ApproverDetailsResultMap" type="com.xiangshangban.att_simple.bean.ApplicationTotalRecord">
    <id column="application_no"  property="applicationNo" />
    <result column="operater_time"  property="operaterTime" />
    <result column="operater_id"  property="operaterId" />
    <result column="application_type"  property="applicationType" />
    <result column="last_approver"  property="lastApprover" />
    <result column="is_copy"  property="isCopy" />
    <result column="application_id"  property="applicationId" />
    <result column="employee_name"  property="applicationName" />
    <result column="company_id"  property="companyId" />
    <result column="is_reject"  property="isReject" />
    <result column="application_status"  property="applicationStatus" />
    <result column="reject_reason"  property="rejectReason" />
    <result column="is_transfer"  property="isTransfer" />
    <result column="is_complete"  property="isComplete" />
    <result column="is_skip_rest_day"  property="isSkipRestDay" />
    <result column="copy_person_id"  property="appCopyPersonId" />
    <result column="transfer_person_id"  property="transferPersonId" />
    <association property="applicationLeave" 
    javaType="com.xiangshangban.att_simple.bean.ApplicationLeave">
    	<result column="al_application_no"  property="applicationNo" />
	    <result column="al_employee_id"  property="employeeId" />
	    <result column="al_department_id"  property="departmentId" />
	    <result column="al_company_id"  property="companyId" />
	    <result column="al_leave_type"  property="leaveType" />
	    <result column="al_start_time"  property="startTime" />
	    <result column="al_end_time"  property="endTime" />
	    <result column="al_reason"  property="reason" />
	    <result column="al_upload_voucher"  property="uploadVoucher" />
	    <result column="al_approver"  property="approver" />
	    <result column="al_operater_time"  property="operaterTime" />
	    <result column="al_is_transfer"  property="isTransfer" />
	    <result column="al_application_hour"  property="applicationHour" />
	    <result column="al_application_time"  property="applicationTime" />
	    <result column="al_employee_name" property="employeeName" />
	    <result column="al_department_name" property="departmentName" />
	    <result column="al_leave_type_name" property="leaveTypeName" />
	    <result column="al_approver_name" property="approverName" />
	    <result column="al_leave_count" property="leaveCount"/>
    </association>
    <association property="applicationOvertime" 
    javaType="com.xiangshangban.att_simple.bean.ApplicationOvertime">
    <result column="ao_application_no"  property="applicationNo" />
    <result column="ao_employee_id"  property="employeeId" />
    <result column="ao_department_id"  property="departmentId" />
    <result column="ao_company_id"  property="companyId" />
    <result column="ao_overtime_type"  property="overtimeType" />
    <result column="ao_start_time"  property="startTime" />
    <result column="ao_end_time"  property="endTime" />
    <result column="ao_reason"  property="reason" />
    <result column="ao_upload_voucher"  property="uploadVoucher" />
    <result column="ao_approver"  property="approver" />
    <result column="ao_operater_time"  property="operaterTime" />
    <result column="ao_is_transfer"  property="isTransfer" />
    <result column="ao_application_hour"  property="applicationHour" />
    <result column="ao_application_time"  property="applicationTime" />
  </association>
  <association property="applicationBusinessTravel" 
  javaType="com.xiangshangban.att_simple.bean.ApplicationBusinessTravel">
    <result column="abt_application_no"  property="applicationNo" />
    <result column="abt_employee_id"  property="employeeId" />
    <result column="abt_department_id"  property="departmentId" />
    <result column="abt_company_id"  property="companyId" />
    <result column="abt_business_travel_type"  property="businessTravelType" />
    <result column="abt_start_time"  property="startTime" />
    <result column="abt_end_time"  property="endTime" />
    <result column="abt_reason"  property="reason" />
    <result column="abt_upload_voucher"  property="uploadVoucher" />
    <result column="abt_approver"  property="approver" />
    <result column="abt_operater_time"  property="operaterTime" />
    <result column="abt_is_transfer"  property="isTransfer" />
    <result column="abt_application_hour"  property="applicationHour" />
    <result column="abt_application_time"  property="applicationTime" />
  </association>
  <association property="applicationOutgoing" 
  javaType="com.xiangshangban.att_simple.bean.ApplicationOutgoing">
    <result column="aot_application_no"  property="applicationNo" />
    <result column="aot_employee_id"  property="employeeId" />
    <result column="aot_department_id"  property="departmentId" />
    <result column="aot_company_id"  property="companyId" />
    <result column="aot_outgoing_location"  property="outgoingLocation" />
    <result column="aot_start_time"  property="startTime" />
    <result column="aot_end_time"  property="endTime" />
    <result column="aot_reason"  property="reason" />
    <result column="aot_upload_voucher"  property="uploadVoucher" />
    <result column="aot_approver"  property="approver" />
    <result column="aot_operater_time"  property="operaterTime" />
    <result column="aot_is_transfer"  property="isTransfer" />
    <result column="aot_application_hour"  property="applicationHour" />
    <result column="aot_application_time"  property="applicationTime" />
  </association>
     <association property="applicationFillCard" 
     javaType="com.xiangshangban.att_simple.bean.ApplicationFillCard">
    <result column="afc_application_no"  property="applicationNo" />
    <result column="afc_employee_id"  property="employeeId" />
    <result column="afc_department_id"  property="departmentId" />
    <result column="afc_company_id"  property="companyId" />
    <result column="afc_fill_card_type"  property="fillCardType" />
    <result column="afc_fill_card_time"  property="fillCardTime" />
    <result column="afc_reason"  property="reason" />
    <result column="afc_upload_voucher"  property="uploadVoucher" />
    <result column="afc_approver"  property="approver" />
    <result column="afc_operater_time"  property="operaterTime" />
    <result column="afc_is_transfer"  property="isTransfer" />
    <result column="afc_application_time"  property="applicationTime" />
  </association>
    <collection property="applicationTransferRecordList" 
    ofType="com.xiangshangban.att_simple.bean.ApplicationTransferRecord" >
    	<result column="tr_id" property="id"/>
    	<result column="tr_application_no" property="applicationNo"/>
    	<result column="tr_transfer_person_id" property="transferPersonId"/>
    	<result column="tr_employee_name" property="transferPersonName"/>
    	<result column="tr_transfer_persion_access_id" property="transferPersionAccessId"/>
    	<result column="tr_transfer_times" property="transferTimes"/>
    	<result column="tr_operater_time" property="operaterTime"/>
    	<result column="tr_transfer_explain" property="transferExplain"/>
    	<result column="tr_company_id" property="companyId"/>
    </collection>
    <collection property="applicationToCopyPersonList"
    ofType="com.xiangshangban.att_simple.bean.ApplicationToCopyPerson">
    	<result column="cp_id" property="id"/>
    	<result column="cp_application_no" property="applicationNo"/>
    	<result column="cp_copy_person_id" property="appCopyPersonId"/>
    	<result column="cp_employee_name" property="appCopyPersonName"/>
    	<result column="cp_operater_time" property="operaterTime"/>
    	<result column="cp_company_id" property="companyId"/>
    </collection>
  </resultMap>
    <sql id="TR_Base_Column_List">
    tr.id tr_id, tr.application_no tr_application_no, tr.transfer_person_id tr_transfer_person_id, 
    tr.employee_name tr_employee_name,tr.transfer_persion_access_id tr_transfer_persion_access_id,
    tr.transfer_times tr_transfer_times, 
    tr.operater_time tr_operater_time, tr.transfer_explain tr_transfer_explain, tr.company_id tr_company_id
  </sql>
  <sql id="tr_Base_Column_List">
    trf.id, trf.application_no, trf.transfer_person_id, trf.transfer_persion_access_id, trf.transfer_times, 
    trf.operater_time, trf.transfer_explain, trf.company_id
  </sql>
   <sql id="CP_Base_Column_List">
    cp.id cp_id, cp.application_no cp_application_no, cp.copy_person_id cp_copy_person_id,
    cp.employee_name cp_employee_name,cp.operater_time cp_operater_time, cp.company_id cp_company_id
  </sql>
   <sql id="cp_Base_Column_List">
    acp.id, acp.application_no, acp.copy_person_id, acp.operater_time, acp.company_id
  </sql>
  <sql id="AL_Base_Column_List">
    al.application_no al_application_no, al.employee_id al_employee_id, al.department_id al_department_id,
    al.company_id al_company_id, al.leave_type al_leave_type, al.start_time al_start_time, 
    al.end_time al_end_time, al.reason al_reason, al.upload_voucher al_upload_voucher, al.approver al_approver,
    al.operater_time al_operater_time, al.is_transfer al_is_transfer, 
    al.application_hour al_application_hour, al.application_time al_application_time
  </sql>
   <sql id="AO_Base_Column_List">
    ao.application_no ao_application_no, ao.employee_id ao_employee_id, ao.department_id ao_department_id, 
    ao.company_id ao_company_id, ao.overtime_type ao_overtime_type, ao.start_time ao_start_time, 
    ao.end_time ao_end_time, ao.reason ao_reason, ao.upload_voucher ao_upload_voucher,
    ao.approver ao_approver, ao.operater_time ao_operater_time, ao.is_transfer ao_is_transfer, 
    ao.application_hour ao_application_hour, ao.application_time ao_application_time
  </sql>
  <sql id="ABT_Base_Column_List">
    abt.application_no abt_application_no, abt.employee_id abt_employee_id, abt.department_id abt_department_id, 
    abt.company_id abt_company_id, abt.business_travel_type abt_business_travel_type, 
    abt.start_time abt_start_time, abt.end_time abt_end_time, abt.reason abt_reason, abt.upload_voucher abt_upload_voucher, 
    abt.approver abt_approver, abt.operater_time abt_operater_time, abt.is_transfer abt_is_transfer, 
    abt.application_hour abt_application_hour, abt.application_time abt_application_time
  </sql>
  <sql id="AOT_Base_Column_List">
    aot.application_no aot_application_no, aot.employee_id aot_employee_id, aot.department_id aot_department_id, 
    aot.company_id aot_company_id, aot.outgoing_location aot_outgoing_location, aot.start_time aot_start_time, 
    aot.end_time aot_end_time, aot.reason aot_reason, aot.upload_voucher aot_upload_voucher, aot.approver aot_approver, 
    aot.operater_time aot_operater_time, aot.is_transfer aot_is_transfer, aot.application_hour aot_application_hour, 
    aot.application_time aot_application_time
  </sql>
  <sql id="AFC_Base_Column_List">
    afc.application_no afc_application_no, afc.employee_id afc_employee_id, afc.department_id afc_department_id, 
    afc.company_id afc_company_id, afc.fill_card_type afc_fill_card_type, afc.fill_card_time afc_fill_card_time, 
    afc.reason afc_reason, afc.upload_voucher afc_upload_voucher, afc.approver afc_approver, 
    afc.operater_time afc_operater_time, afc.is_transfer afc_is_transfer, afc.application_time afc_application_time
  </sql>
  <!-- 审批详情 -->
  <select id="selectApproverDetails" parameterType="java.lang.String" resultMap="ApproverDetailsResultMap">
  	select <include refid="Base_Column_List"/>,e.employee_name,
  	<include refid="AL_Base_Column_List"/>,
  	<include refid="AO_Base_Column_List"/>,
  	<include refid="ABT_Base_Column_List"/>,
  	<include refid="AOT_Base_Column_List"/>,
  	<include refid="AFC_Base_Column_List"/>,
  	<include refid="TR_Base_Column_List"/>,
  	<include refid="CP_Base_Column_List"/>
  	from att_simple.application_total_record_ atr 
  	left join application_leave_ al on atr.application_no = al.application_no
  	left join application_overtime_ ao on atr.application_no = ao.application_no
  	left join application_business_travel_ abt on atr.application_no = abt.application_no
  	left join application_outgoing_ aot on atr.application_no = aot.application_no
  	left join application_fill_card_ afc on atr.application_no = afc.application_no
  	left join
  	(
  	select <include refid="tr_Base_Column_List"/>,e.employee_name
  	from att_simple.application_transfer_record_ trf
  	left join organization.employee_ e on e.employee_id = trf.transfer_person_id and e.company_id = #{companyId}
  	where trf.application_no =#{applicationNo}
  	) tr on atr.application_no = tr.application_no
  	left join 
  	(
  	select <include refid="cp_Base_Column_List"/> ,e.employee_name
  	from att_simple.application_to_copy_person_ acp
  	left join organization.employee_ e on e.employee_id = acp.copy_person_id and e.company_id = #{companyId}
  	where acp.application_no =#{applicationNo}
  	) cp on atr.application_no = cp.application_no
  	LEFT JOIN organization.employee_ e on e.company_id = #{companyId} 
	  	and e.employee_id = atr.application_id 
  	where atr.application_no = #{applicationNo}
  </select>
  
  <!-- web审批中心 -->
  <!-- 未完成工单数 -->
  <select id="selectCountWillApprover" parameterType="java.lang.String" resultType="java.lang.Integer">
    select count(atr.application_no) from application_total_record_ atr
    where atr.company_id = #{companyId} and atr.is_complete = '0'
  </select>
  <!-- 本月已完成工单数 -->
  <select id="selectCountCompletedApprover" parameterType="java.lang.String" resultType="java.lang.Integer">
    select count(atr.application_no) from application_total_record_ atr
    where atr.company_id = #{companyId} and atr.is_complete = '1' and atr.operater_time between #{startTime} and #{endTime}
  </select>
  <!-- 审批中心列表查询 -->
  <select id="selectWebApproverList" parameterType="java.lang.String" resultMap="BaseResultMap">
  	select atr.application_no,case atr.application_type when '1' then '请假'  
	when '2' then '加班'   when '3' then '出差'   when '4' then '外出'   when '5' then '补卡'  end as application_type,
	case atr.is_complete when '0' then '未完成' when '1' then '已完成' end as is_complete,
	e.employee_name as last_approver_name,
	 case atr.application_type when '1' then a.employee_name  
	when '2' then b.employee_name when '3' then c.employee_name  
	when '4' then d.employee_name   when '5' then f.employee_name end as application_name,
	 case atr.application_type when '1' then a.department_name  
	when '2' then b.department_name when '3' then c.department_name  
	when '4' then d.department_name   when '5' then f.department_name end as department_name,
	 case atr.application_type when '1' then a.application_time  
	when '2' then b.application_time when '3' then c.application_time  
	when '4' then d.application_time when '5' then f.application_time end as application_time,
case atr.application_type when '1' then a.children_description  ELSE '' end as children_description
	from att_simple.application_total_record_ atr 
	left join 
	(
	select l.*,e.employee_name,d.department_name,c.company_name, t.children_description from att_simple.application_leave_ l 
	left join organization.employee_ e on e.employee_id = l.employee_id and e.company_id = #{companyId}
	left join organization.department_ d on e.department_id = d.department_id
	left join organization.company_ c on c.company_id = e.company_id
	LEFT JOIN att_simple.application_type_ t ON l.leave_type=t.application_children_type AND t.application_type='1'
	) a on a.application_no = atr.application_no
	left join 
	(
	select l.*,e.employee_name,d.department_name,c.company_name,t.children_description from att_simple.application_overtime_ l 
	left join organization.employee_ e on e.employee_id = l.employee_id and e.company_id = #{companyId}
	left join organization.department_ d on e.department_id = d.department_id
	left join organization.company_ c on c.company_id = e.company_id 
	LEFT JOIN att_simple.application_type_ t ON l.overtime_type=t.application_children_type AND t.application_type='2'
	) b on b.application_no = atr.application_no
	left join 
	(
	select l.*,e.employee_name,d.department_name,c.company_name,'' children_description from att_simple.application_business_travel_ l 
	left join organization.employee_ e on e.employee_id = l.employee_id and e.company_id = #{companyId}
	left join organization.department_ d on e.department_id = d.department_id
	left join organization.company_ c on c.company_id = e.company_id 
	) c on c.application_no = atr.application_no
	left join 
	(
	select l.*,e.employee_name,d.department_name,c.company_name,'' children_description from att_simple.application_outgoing_ l 
	left join organization.employee_ e on e.employee_id = l.employee_id and e.company_id = #{companyId}
	left join organization.department_ d on e.department_id = d.department_id
	left join organization.company_ c on c.company_id = e.company_id 
	) d on d.application_no = atr.application_no
	left join 
	(
	select l.*,e.employee_name,d.department_name,c.company_name,'' children_description from att_simple.application_fill_card_ l 
	left join organization.employee_ e on e.employee_id = l.employee_id and e.company_id = #{companyId}
	left join organization.department_ d on e.department_id = d.department_id
	left join organization.company_ c on c.company_id = e.company_id 
	) f on f.application_no = atr.application_no
	
	left join organization.employee_ e on atr.last_approver = e.employee_id and e.company_id = atr.company_id
	where atr.company_id = #{companyId} and atr.application_status = '1'
	<if test="departmentId!=null and departmentId!=''">
	and case atr.application_type when '1' then a.department_id  
	when '2' then b.department_id when '3' then c.department_id  
	when '4' then d.department_id   when '5' then f.department_id end = #{departmentId} 
	</if>
	<if test="applicationType!=null and applicationType!=''">
	and atr.application_type = #{applicationType}
	</if>
	<if test="isComplete!=null and isComplete!=''">
	and atr.is_complete = #{isComplete}
	</if>
	<if test="employeeName!=null and employeeName!=''">
	and case atr.application_type when '1' then a.employee_name  
	when '2' then b.employee_name when '3' then c.employee_name  
	when '4' then d.employee_name   when '5' then d.employee_name end like #{employeeName}
	</if>
	<if test="startTime!=null and startTime!='' and endTime!=null and endTime!=''">
	and case atr.application_type when '1' then a.application_time  
	when '2' then b.application_time when '3' then c.application_time  
	when '4' then d.application_time when '5' then f.application_time end between #{startTime} and #{endTime}
	</if>
	order by case atr.application_type when '1' then a.application_time  
	when '2' then b.application_time when '3' then c.application_time  
	when '4' then d.application_time when '5' then f.application_time end desc
	limit #{count}::integer offset #{page}::integer
  </select>
  <!-- 审批中心列表记录数查询 -->
  <select id="selectWebApproverListCount" parameterType="java.lang.String" resultType="java.lang.Integer">
  	select count(a.application_no)
	from (select atr.application_no,case atr.application_type when '1' then '请假'  
	when '2' then '加班'   when '3' then '出差'   when '4' then '外出'   when '5' then '补卡'  end as application_type,
	case atr.is_complete when '0' then '未完成' when '1' then '已完成' end as is_complete,
	e.employee_name as last_approver_name,
	 case atr.application_type when '1' then a.employee_name  
	when '2' then b.employee_name when '3' then c.employee_name  
	when '4' then d.employee_name   when '5' then f.employee_name end as application_name,
	 case atr.application_type when '1' then a.department_name  
	when '2' then b.department_name when '3' then c.department_name  
	when '4' then d.department_name   when '5' then f.department_name end as department_name,
	 case atr.application_type when '1' then a.application_time  
	when '2' then b.application_time when '3' then c.application_time  
	when '4' then d.application_time when '5' then f.application_time end as application_time
	from att_simple.application_total_record_ atr 
	left join 
	(
	select l.*,e.employee_name,d.department_name,c.company_name from att_simple.application_leave_ l 
	left join organization.employee_ e on e.employee_id = l.employee_id and e.company_id = #{companyId}
	left join organization.department_ d on e.department_id = d.department_id
	left join organization.company_ c on c.company_id = e.company_id 
	) a on a.application_no = atr.application_no
	left join 
	(
	select l.*,e.employee_name,d.department_name,c.company_name from att_simple.application_overtime_ l 
	left join organization.employee_ e on e.employee_id = l.employee_id and e.company_id = #{companyId}
	left join organization.department_ d on e.department_id = d.department_id
	left join organization.company_ c on c.company_id = e.company_id 
	) b on b.application_no = atr.application_no
	left join 
	(
	select l.*,e.employee_name,d.department_name,c.company_name from att_simple.application_business_travel_ l 
	left join organization.employee_ e on e.employee_id = l.employee_id and e.company_id = #{companyId}
	left join organization.department_ d on e.department_id = d.department_id
	left join organization.company_ c on c.company_id = e.company_id 
	) c on c.application_no = atr.application_no
	left join 
	(
	select l.*,e.employee_name,d.department_name,c.company_name from att_simple.application_outgoing_ l 
	left join organization.employee_ e on e.employee_id = l.employee_id and e.company_id = #{companyId}
	left join organization.department_ d on e.department_id = d.department_id
	left join organization.company_ c on c.company_id = e.company_id 
	) d on d.application_no = atr.application_no
	left join 
	(
	select l.*,e.employee_name,d.department_name,c.company_name from att_simple.application_fill_card_ l 
	left join organization.employee_ e on e.employee_id = l.employee_id and e.company_id = #{companyId}
	left join organization.department_ d on e.department_id = d.department_id
	left join organization.company_ c on c.company_id = e.company_id 
	) f on f.application_no = atr.application_no
	
	left join organization.employee_ e on atr.last_approver = e.employee_id and e.company_id = atr.company_id
	where atr.company_id = #{companyId} and atr.application_status = '1'
	<if test="departmentId!=null and departmentId!=''">
	and case atr.application_type when '1' then a.department_id  
	when '2' then b.department_id when '3' then c.department_id  
	when '4' then d.department_id   when '5' then f.department_id end = #{departmentId} 
	</if>
	<if test="applicationType!=null and applicationType!=''">
	and atr.application_type = #{applicationType}
	</if>
	<if test="isComplete!=null and isComplete!=''">
	and atr.is_complete = #{isComplete}
	</if>
	<if test="employeeName!=null and employeeName!=''">
	and case atr.application_type when '1' then a.employee_name  
	when '2' then b.employee_name when '3' then c.employee_name  
	when '4' then d.employee_name   when '5' then d.employee_name end like #{employeeName}
	</if>
	<if test="startTime!=null and startTime!='' and endTime!=null and endTime!=''">
	and case atr.application_type when '1' then a.application_time  
	when '2' then b.application_time when '3' then c.application_time  
	when '4' then d.application_time when '5' then f.application_time end between #{startTime} and #{endTime}
	</if>
	order by case atr.application_type when '1' then a.application_time  
	when '2' then b.application_time when '3' then c.application_time  
	when '4' then d.application_time when '5' then f.application_time end desc) a
  </select>
  <!-- web审批中-申请单查看详情 -->
  <!-- <select id="">
  	select 
  </select> -->
  
  <!-- 系统 -->
  <!-- 根据单号查询申请状态 -->
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from application_total_record_ atr
    where atr.application_no = #{applicationNo}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from application_total_record_ 
    where application_no = #{applicationNo}
  </delete>
  <insert id="insert" parameterType="com.xiangshangban.att_simple.bean.ApplicationTotalRecord">
    insert into application_total_record_ (application_no, operater_time, operater_id, 
      application_type, last_approver, is_copy, 
      application_id, company_id, is_reject, 
      application_status, reject_reason, is_transfer
      )
    values (#{applicationNo}, #{operaterTime}, #{operaterId}, 
      #{applicationType}, #{lastApprover}, #{isCopy}, 
      #{applicationId}, #{companyId}, #{isReject}, 
      #{applicationStatus}, #{rejectReason}, #{isTransfer}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.xiangshangban.att_simple.bean.ApplicationTotalRecord">
    insert into application_total_record_
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="applicationNo != null">
        application_no,
      </if>
      <if test="operaterTime != null">
        operater_time,
      </if>
      <if test="operaterId != null">
        operater_id,
      </if>
      <if test="applicationType != null">
        application_type,
      </if>
      <if test="lastApprover != null">
        last_approver,
      </if>
      <if test="isCopy != null">
        is_copy,
      </if>
      <if test="applicationId != null">
        application_id,
      </if>
      <if test="companyId != null">
        company_id,
      </if>
      <if test="isReject != null">
        is_reject,
      </if>
      <if test="applicationStatus != null">
        application_status,
      </if>
      <if test="rejectReason != null">
        reject_reason,
      </if>
      <if test="isTransfer != null">
        is_transfer,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="applicationNo != null">
        #{applicationNo},
      </if>
      <if test="operaterTime != null">
        #{operaterTime},
      </if>
      <if test="operaterId != null">
        #{operaterId},
      </if>
      <if test="applicationType != null">
        #{applicationType},
      </if>
      <if test="lastApprover != null">
        #{lastApprover},
      </if>
      <if test="isCopy != null">
        #{isCopy},
      </if>
      <if test="applicationId != null">
        #{applicationId},
      </if>
      <if test="companyId != null">
        #{companyId},
      </if>
      <if test="isReject != null">
        #{isReject},
      </if>
      <if test="applicationStatus != null">
        #{applicationStatus},
      </if>
      <if test="rejectReason != null">
        #{rejectReason},
      </if>
      <if test="isTransfer != null">
        #{isTransfer},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.xiangshangban.att_simple.bean.ApplicationTotalRecord">
    update application_total_record_
    <set>
      <if test="operaterTime != null">
        operater_time = #{operaterTime},
      </if>
      <if test="operaterId != null">
        operater_id = #{operaterId},
      </if>
      <if test="applicationType != null">
        application_type = #{applicationType},
      </if>
      <if test="lastApprover != null">
        last_approver = #{lastApprover},
      </if>
      <if test="isCopy != null">
        is_copy = #{isCopy},
      </if>
      <if test="applicationId != null">
        application_id = #{applicationId},
      </if>
      <if test="companyId != null">
        company_id = #{companyId},
      </if>
      <if test="isReject != null">
        is_reject = #{isReject},
      </if>
      <if test="applicationStatus != null">
        application_status = #{applicationStatus},
      </if>
      <if test="rejectReason != null">
        reject_reason = #{rejectReason},
      </if>
      <if test="isTransfer != null">
        is_transfer = #{isTransfer},
      </if>
      <if test="isComplete !=null">
      	is_complete = #{isComplete}
      </if>
    </set>
    where application_no = #{applicationNo} and operater_time = #{previousOperaterTime}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xiangshangban.att_simple.bean.ApplicationTotalRecord">
    update application_total_record_
    set operater_time = #{operaterTime},
      operater_id = #{operaterId},
      application_type = #{applicationType},
      last_approver = #{lastApprover},
      is_copy = #{isCopy},
      application_id = #{applicationId},
      company_id = #{companyId},
      is_reject = #{isReject},
      application_status = #{applicationStatus},
      reject_reason = #{rejectReason},
      is_transfer = #{isTransfer}
    where application_no = #{applicationNo}
  </update>
</mapper>