<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiangshangban.att_simple.dao.ClassesEmployeeMapper">
  <resultMap id="BaseResultMap" type="com.xiangshangban.att_simple.bean.ClassesEmployee">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="emp_id" jdbcType="VARCHAR" property="empId" />
    <result column="emp_company_id" jdbcType="VARCHAR" property="empCompanyId" />
    <result column="classes_id" jdbcType="VARCHAR" property="classesId" />
    <result column="classes_name" jdbcType="VARCHAR" property="classesName" /> 
    <result column="on_duty_scheduling_date" jdbcType="VARCHAR" property="onDutySchedulingDate" />
    <result column="off_duty_scheduling_date" jdbcType="VARCHAR" property="offDutySchedulingDate" />
    <result column="rest_start_time" jdbcType="VARCHAR" property="restStartTime" />
    <result column="rest_end_time" jdbcType="VARCHAR" property="restEndTime" />
    <result column="sign_in_rule" jdbcType="VARCHAR" property="signInRule" />
    <result column="sign_out_rule" jdbcType="VARCHAR" property="signOutRule" />
    <result column="on_punch_card_rule" jdbcType="VARCHAR" property="onPunchCardRule" />
    <result column="off_punch_card_rule" jdbcType="VARCHAR" property="offPunchCardRule" />
    <result column="the_date" jdbcType="VARCHAR" property="theDate" />
    <result column="week" jdbcType="VARCHAR" property="week" />
    <result column="divide_color" jdbcType="VARCHAR" property="divideColor" />
  </resultMap>
  
  <sql id="Base_Column_List">
    id, emp_id, emp_company_id, classes_id, on_duty_scheduling_date, off_duty_scheduling_date, 
    week
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from classes_employee_
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from classes_employee_
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.xiangshangban.att_simple.bean.ClassesEmployee">
    insert into classes_employee_ (id, emp_id, emp_company_id, 
      classes_id, on_duty_scheduling_date, off_duty_scheduling_date, 
      week)
    values (#{id,jdbcType=VARCHAR}, #{empId,jdbcType=VARCHAR}, #{empCompanyId,jdbcType=VARCHAR}, 
      #{classesId,jdbcType=VARCHAR}, #{onDutySchedulingDate,jdbcType=VARCHAR}, #{offDutySchedulingDate,jdbcType=VARCHAR}, 
      #{week,jdbcType=VARCHAR})
  </insert>
  
  <!-- 添加新的人员班次 -->
  <insert id="insertSelective" parameterType="com.xiangshangban.att_simple.bean.ClassesEmployee">
    insert into classes_employee_
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="empId != null">
        emp_id,
      </if>
      <if test="empCompanyId != null">
        emp_company_id,
      </if>
      <if test="classesId != null">
        classes_id,
      </if>
      <if test="classesName != null">
        classes_name,
      </if>
      <if test="onDutySchedulingDate != null">
        on_duty_scheduling_date,
      </if>
      <if test="offDutySchedulingDate != null">
        off_duty_scheduling_date,
      </if>
      <if test="restStartTime != null">
        rest_start_time,
      </if>
      <if test="restEndTime != null">
        rest_end_time,
      </if>
      <if test="signInRule != null">
        sign_in_rule,
      </if>
      <if test="signOutRule != null">
        sign_out_rule,
      </if>
      <if test="onPunchCardRule != null">
        on_punch_card_rule,
      </if>
      <if test="offPunchCardRule != null">
        off_punch_card_rule,
      </if>
      <if test="theDate != null">
        the_date,
      </if>
      <if test="week != null">
        week,
      </if>
      <if test="divideColor != null">
        divide_color,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="empId != null">
        #{empId,jdbcType=VARCHAR},
      </if>
      <if test="empCompanyId != null">
        #{empCompanyId,jdbcType=VARCHAR},
      </if>
      <if test="classesId != null">
        #{classesId,jdbcType=VARCHAR},
      </if>
      <if test="classesName != null">
        #{classesName,jdbcType=VARCHAR},
      </if>
      <if test="onDutySchedulingDate != null">
        #{onDutySchedulingDate,jdbcType=VARCHAR},
      </if>
      <if test="offDutySchedulingDate != null">
        #{offDutySchedulingDate,jdbcType=VARCHAR},
      </if>
      <if test="restStartTime != null">
        #{restStartTime,jdbcType=VARCHAR},
      </if>
      <if test="restEndTime != null">
        #{restEndTime,jdbcType=VARCHAR},
      </if>
      <if test="signInRule != null">
        #{signInRule,jdbcType=VARCHAR},
      </if>
      <if test="signOutRule != null">
        #{signOutRule,jdbcType=VARCHAR},
      </if>
      <if test="onPunchCardRule != null">
        #{onPunchCardRule,jdbcType=VARCHAR},
      </if>
      <if test="offPunchCardRule != null">
        #{offPunchCardRule,jdbcType=VARCHAR},
      </if>
      <if test="theDate != null">
       	#{theDate,jdbcType=VARCHAR},
      </if>
      <if test="week != null">
        #{week,jdbcType=VARCHAR},
      </if>
      <if test="divideColor != null">
        #{divideColor,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.xiangshangban.att_simple.bean.ClassesEmployee">
    update classes_employee_
    <set>
      <if test="empId != null">
        emp_id = #{empId,jdbcType=VARCHAR},
      </if>
      <if test="empCompanyId != null">
        emp_company_id = #{empCompanyId,jdbcType=VARCHAR},
      </if>
      <if test="classesId != null">
        classes_id = #{classesId,jdbcType=VARCHAR},
      </if>
      <if test="onDutySchedulingDate != null">
        on_duty_scheduling_date = #{onDutySchedulingDate,jdbcType=VARCHAR},
      </if>
      <if test="offDutySchedulingDate != null">
        off_duty_scheduling_date = #{offDutySchedulingDate,jdbcType=VARCHAR},
      </if>
      <if test="week != null">
        week = #{week,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xiangshangban.att_simple.bean.ClassesEmployee">
    update classes_employee_
    set emp_id = #{empId,jdbcType=VARCHAR},
      emp_company_id = #{empCompanyId,jdbcType=VARCHAR},
      classes_id = #{classesId,jdbcType=VARCHAR},
      on_duty_scheduling_date = #{onDutySchedulingDate,jdbcType=VARCHAR},
      off_duty_scheduling_date = #{offDutySchedulingDate,jdbcType=VARCHAR},
      week = #{week,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
  
  <!-- 查询指定公司使用指定班次的人员列表 -->
  <select id="selectPointClassesTypeEmp" parameterType="Map" resultType="Map">
  	SELECT
	COALESCE(A.emp_id,'') AS emp_id,
	COALESCE(B.department_id,'') AS department_id,
	COALESCE(B.employee_name,'') AS employee_name
	FROM
		(
			SELECT DISTINCT
				emp_company_id,
				emp_id
			FROM
				att_simple.classes_employee_
			WHERE
				classes_id = #{classesTypeId}
			AND emp_company_id = #{companyId}
		) A
	LEFT JOIN organization.employee_ B ON A .emp_id = B.employee_id
	AND A .emp_company_id = B.company_id
  </select>
  
  <!-- 查询指定人员指定日期的班次信息 -->
  <select id="selectPointEmpDateClasses" parameterType="Map" resultMap="BaseResultMap">
  	SELECT
  	COALESCE(on_duty_scheduling_date,'') AS on_duty_scheduling_date,
  	COALESCE(off_duty_scheduling_date,'') AS off_duty_scheduling_date,
  	COALESCE(rest_start_time,'') AS rest_start_time,
  	COALESCE(rest_end_time,'') AS rest_end_time,
  	COALESCE(week,'') AS week
  	FROM classes_employee_
  	WHERE id = #{empClassesId}
  </select>
  
  <!-- 查询指定人员指定时间区间的班次信息 -->
  <select id="selectPointTimeClasses" parameterType="Map" resultMap="BaseResultMap">
  	SELECT
  	COALESCE(classes_id,'') AS classes_id,
  	COALESCE(on_duty_scheduling_date,'') AS on_duty_scheduling_date,
  	COALESCE(off_duty_scheduling_date,'') AS off_duty_scheduling_date,
  	COALESCE(the_date,'') AS the_date
  	FROM classes_employee_
  	WHERE emp_id = #{empId} and emp_company_id = #{companyId} and the_date between #{startTime} and #{endTime} ORDER BY on_duty_scheduling_date
  </select>
  
  <!-- 删除指定班次类型,指定人员，某个日期之后的班次 -->
  <delete id="deleteAppointClassesTypeEmp" parameterType="Map">
  	delete from classes_employee_ where (classes_id = #{classesTypeId} or classes_id = '') and emp_company_Id = #{companyId} and the_date >= #{offSetTime} 
  	<if test='empId !=null and empId!=""'>
  		and emp_id = #{empId}
  	</if>
  </delete>
  
  <!-- 删除指定人员指定日期的排班 -->
  <update id="deleteAppointEmpDateClasses" parameterType="Map">
  	update classes_employee_ set 
  	classes_id = '',
  	on_duty_scheduling_date = '',
  	off_duty_scheduling_date = '',
  	rest_start_time = '',
  	rest_end_time = '' 
  	where id = #{empClassesId}
  </update>
  
  <!-- 更新指定人员指定日期的班次 -->
  <update id="updateAppointEmpDateClasses" parameterType="com.xiangshangban.att_simple.bean.ClassesEmployee">
  	update classes_employee_ set 
	  	classes_id = #{classesId},
	  	classes_name = #{classesName},
	  	on_duty_scheduling_date = #{onDutySchedulingDate},
	  	off_duty_scheduling_date = #{offDutySchedulingDate},
	  	rest_start_time = #{restStartTime},
	  	rest_end_time = #{restEndTime},
	  	sign_in_rule = #{signInRule},
	  	sign_out_rule = #{signOutRule},
	  	on_punch_card_rule = #{onPunchCardRule},
	  	off_punch_card_rule = #{offPunchCardRule},
	  	divide_color = #{divideColor}
  	where
  		id = #{id}
  </update>
  
  <!-- 查询当前公司人员的班次信息 -->
  <select id="selectClassesInfo" parameterType="Map" resultType="Map">
	SELECT
	COALESCE (W. ID, '') AS ID,
	COALESCE (emp_id, '') AS emp_id,
	COALESCE (emp_company_id, '') AS emp_company_id,
	COALESCE (classes_id, '') AS classes_id,
	COALESCE (classes_name, '') AS classes_name,
	COALESCE (on_duty_scheduling_date, '') AS on_duty_scheduling_date,
	COALESCE (off_duty_scheduling_date,'') AS off_duty_scheduling_date,
	COALESCE (rest_start_time, '') AS rest_start_time,
	COALESCE (rest_end_time, '') AS rest_end_time,
	COALESCE (the_date, '') AS the_date,
	COALESCE (week, '') AS week,
	COALESCE (divide_color, '') AS divide_color,
	COALESCE (employee_name, '') AS employee_name,
	COALESCE (department_id, '') AS department_id,
	COALESCE (department_name, '') AS department_name,
	COALESCE (post_name, '') AS post_name
	FROM
		(
			SELECT DISTINCT
				H.*, J.employee_name,
				department_id,
				department_name,
				post_name
			FROM
				(
					SELECT
						ID,
						emp_id,
						emp_company_id,
						classes_id,
						classes_name,
						on_duty_scheduling_date,
						off_duty_scheduling_date,
						rest_start_time,
						rest_end_time,
						the_date,
						week,
						divide_color
					FROM
						classes_employee_
					WHERE
						the_date BETWEEN #{startDate} AND #{endDate}
					AND emp_company_id = #{companyId}
				) H
			LEFT JOIN (
				SELECT
					E.employee_id,
					E.department_id,
					E.employee_name,
					E.department_name,
					F.post_name
				FROM
					(
						SELECT
							C .*, D.post_id
						FROM
							(
								SELECT
									A .*, B.department_name
								FROM
									(
										SELECT
											employee_id,
											employee_name,
											department_id
										FROM
											organization.employee_
										WHERE
											company_id = #{companyId}
									) A
								LEFT JOIN organization.department_ B ON A .department_id = B.department_id
							) C
						LEFT JOIN organization.connect_emp_post_ D ON C .department_id = D.department_id
						AND C .employee_id = D.employee_id
						AND D.post_grades = '1'
					) E
				LEFT JOIN organization.post_ F ON E.post_id = F.post_id
			) J ON H.emp_id = J.employee_id
			ORDER BY
				H.the_date
		) W
	<where>
		<if test='classesId!=null and classesId!=""'>
			W.classes_id = #{classesTypeId}
		</if>
		<if test='deptId!=null and deptId!=""'>
			and W.department_id = #{deptId}
		</if>
		<if test='empName!=null and empName!=""'>
			and W.employee_name like #{empName}
		</if>
	</where>
  </select>
  
  <!-- 查询班次类型使用人数排行榜前三名 -->
  <select id="selectTopThreeClassesType" parameterType="String" resultType="Map">
	SELECT
	CAST (COUNT(A.emp_id) AS VARCHAR) totalnum,
	COALESCE(classes_name,'') AS classes_name
	FROM
		(
			SELECT DISTINCT
				emp_company_id,
				emp_id,
				classes_id,
				classes_name
			FROM
				classes_employee_
			WHERE
				classes_name != ''
			AND
				emp_company_id = #{companyId}
		) A
	GROUP BY
		classes_id,
		classes_name,
		emp_company_id
	ORDER BY
		totalnum DESC
	OFFSET 0 LIMIT 3
  </select>
  
  <!-- 查询当前公司所有已经排过班次的人员ID、班次类型ID(排除临时班次)、最后一次班次的时间-->
  <select id="selectAllClassesEmp" parameterType="String" resultType="Map">
 	SELECT
		COALESCE (emp_id, '') AS emp_id,
		COALESCE (emp_company_id, '') AS emp_company_id,
		COALESCE (classes_id, '') AS classes_id,
		COALESCE (MAX(the_date), '') AS last_date
	FROM
		classes_employee_
  	<where>
  		classes_name !='临时班次'
  		AND classes_name != ''
  		<if test='companyId!=null and companyId!=""'>
  			and emp_company_id = #{companyId}
  		</if>
  	</where>
  	GROUP BY emp_id,classes_id,emp_company_id
  </select>
  
  <!-- 通过人员ID和公司ID查询人员名称 -->
  <select id="selectEmpNameById" parameterType="String" resultType="String">
  	select employee_name from organization.employee_ where employee_id = #{empId} and company_id = #{companyId}
  </select>
</mapper>