<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiangshangban.att_simple.dao.VacationQuotaRecordMapper">
  <resultMap id="BaseResultMap" type="com.xiangshangban.att_simple.bean.VacationQuotaRecord">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="employee_id" jdbcType="VARCHAR" property="employeeId" />
    <result column="department_id" jdbcType="VARCHAR" property="departmentId" />
    <result column="company_id" jdbcType="VARCHAR" property="companyId" />
    <result column="vacation_type" jdbcType="VARCHAR" property="vacationType" />
    <result column="quota_change" jdbcType="VARCHAR" property="quotaChange" />
    <result column="quota_change_type" jdbcType="VARCHAR" property="quotaChangeType" />
    <result column="quota_change_reason" jdbcType="VARCHAR" property="quotaChangeReason" />
    <result column="operater_id" jdbcType="VARCHAR" property="operaterId" />
    <result column="operater_time" jdbcType="VARCHAR" property="operaterTime" />
    <result column="total" jdbcType="VARCHAR" property="total" />
    <result column="surplus" jdbcType="VARCHAR" property="surplus" />
  </resultMap>
  <sql id="Base_Column_List">
    id, employee_id, department_id, company_id, vacation_type, quota_change, quota_change_type, 
    quota_change_reason, operater_id, operater_time, total, surplus
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from vacation_quota_record_
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from vacation_quota_record_
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.xiangshangban.att_simple.bean.VacationQuotaRecord">
    insert into vacation_quota_record_ (id, employee_id, department_id, 
      company_id, vacation_type, quota_change, 
      quota_change_type, quota_change_reason, operater_id, 
      operater_time, total, surplus
      )
    values (#{id,jdbcType=VARCHAR}, #{employeeId,jdbcType=VARCHAR}, #{departmentId,jdbcType=VARCHAR}, 
      #{companyId,jdbcType=VARCHAR}, #{vacationType,jdbcType=VARCHAR}, #{quotaChange,jdbcType=VARCHAR}, 
      #{quotaChangeType,jdbcType=VARCHAR}, #{quotaChangeReason,jdbcType=VARCHAR}, #{operaterId,jdbcType=VARCHAR}, 
      #{operaterTime,jdbcType=VARCHAR}, #{total,jdbcType=VARCHAR}, #{surplus,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.xiangshangban.att_simple.bean.VacationQuotaRecord">
    insert into vacation_quota_record_
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="employeeId != null">
        employee_id,
      </if>
      <if test="departmentId != null">
        department_id,
      </if>
      <if test="companyId != null">
        company_id,
      </if>
      <if test="vacationType != null">
        vacation_type,
      </if>
      <if test="quotaChange != null">
        quota_change,
      </if>
      <if test="quotaChangeType != null">
        quota_change_type,
      </if>
      <if test="quotaChangeReason != null">
        quota_change_reason,
      </if>
      <if test="operaterId != null">
        operater_id,
      </if>
      <if test="operaterTime != null">
        operater_time,
      </if>
      <if test="total != null">
        total,
      </if>
      <if test="surplus != null">
        surplus,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="employeeId != null">
        #{employeeId,jdbcType=VARCHAR},
      </if>
      <if test="departmentId != null">
        #{departmentId,jdbcType=VARCHAR},
      </if>
      <if test="companyId != null">
        #{companyId,jdbcType=VARCHAR},
      </if>
      <if test="vacationType != null">
        #{vacationType,jdbcType=VARCHAR},
      </if>
      <if test="quotaChange != null">
        #{quotaChange,jdbcType=VARCHAR},
      </if>
      <if test="quotaChangeType != null">
        #{quotaChangeType,jdbcType=VARCHAR},
      </if>
      <if test="quotaChangeReason != null">
        #{quotaChangeReason,jdbcType=VARCHAR},
      </if>
      <if test="operaterId != null">
        #{operaterId,jdbcType=VARCHAR},
      </if>
      <if test="operaterTime != null">
        #{operaterTime,jdbcType=VARCHAR},
      </if>
      <if test="total != null">
        #{total,jdbcType=VARCHAR},
      </if>
      <if test="surplus != null">
        #{surplus,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.xiangshangban.att_simple.bean.VacationQuotaRecord">
    update vacation_quota_record_
    <set>
      <if test="employeeId != null">
        employee_id = #{employeeId,jdbcType=VARCHAR},
      </if>
      <if test="departmentId != null">
        department_id = #{departmentId,jdbcType=VARCHAR},
      </if>
      <if test="companyId != null">
        company_id = #{companyId,jdbcType=VARCHAR},
      </if>
      <if test="vacationType != null">
        vacation_type = #{vacationType,jdbcType=VARCHAR},
      </if>
      <if test="quotaChange != null">
        quota_change = #{quotaChange,jdbcType=VARCHAR},
      </if>
      <if test="quotaChangeType != null">
        quota_change_type = #{quotaChangeType,jdbcType=VARCHAR},
      </if>
      <if test="quotaChangeReason != null">
        quota_change_reason = #{quotaChangeReason,jdbcType=VARCHAR},
      </if>
      <if test="operaterId != null">
        operater_id = #{operaterId,jdbcType=VARCHAR},
      </if>
      <if test="operaterTime != null">
        operater_time = #{operaterTime,jdbcType=VARCHAR},
      </if>
      <if test="total != null">
        total = #{total,jdbcType=VARCHAR},
      </if>
      <if test="surplus != null">
        surplus = #{surplus,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xiangshangban.att_simple.bean.VacationQuotaRecord">
    update vacation_quota_record_
    set employee_id = #{employeeId,jdbcType=VARCHAR},
      department_id = #{departmentId,jdbcType=VARCHAR},
      company_id = #{companyId,jdbcType=VARCHAR},
      vacation_type = #{vacationType,jdbcType=VARCHAR},
      quota_change = #{quotaChange,jdbcType=VARCHAR},
      quota_change_type = #{quotaChangeType,jdbcType=VARCHAR},
      quota_change_reason = #{quotaChangeReason,jdbcType=VARCHAR},
      operater_id = #{operaterId,jdbcType=VARCHAR},
      operater_time = #{operaterTime,jdbcType=VARCHAR},
      total = #{total,jdbcType=VARCHAR},
      surplus = #{surplus,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>