<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiangshangban.att_simple.dao.VacationDetailsMapper">
  <resultMap id="BaseResultMap" type="com.xiangshangban.att_simple.bean.VacationDetails">
    <id column="vacation_details_id" jdbcType="VARCHAR" property="vacationDetailsId" />
    <result column="vacation_id" jdbcType="VARCHAR" property="vacationId" />
    <result column="vacation_type" jdbcType="VARCHAR" property="vacationType" />
    <result column="vacation_mold" jdbcType="VARCHAR" property="vacationMold" />
    <result column="limit_change" jdbcType="VARCHAR" property="limitChange" />
    <result column="vacation_total" jdbcType="VARCHAR" property="vacationTotal" />
    <result column="vacation_balance" jdbcType="VARCHAR" property="vacationBalance" />
    <result column="changing_reason" jdbcType="VARCHAR" property="changingReason" />
    <result column="auditor_employee_id" jdbcType="VARCHAR" property="auditorEmployeeId" />
    <result column="changeing_date" jdbcType="VARCHAR" property="changeingDate" />
    <result column="adjusting_instruction" jdbcType="VARCHAR" property="adjustingInstruction"/>
    <result column="year_" jdbcType="VARCHAR" property="year"/>
  </resultMap>
  
  <resultMap id="DetailsEmployeeMap" type="com.xiangshangban.att_simple.bean.VacationDetails">
    <id column="vacation_details_id" jdbcType="VARCHAR" property="vacationDetailsId" />
    <result column="vd.vacation_id" jdbcType="VARCHAR" property="vacationId" />
    <result column="vacation_type" jdbcType="VARCHAR" property="vacationType" />
    <result column="vacation_mold" jdbcType="VARCHAR" property="vacationMold" />
    <result column="limit_change" jdbcType="VARCHAR" property="limitChange" />
    <result column="vacation_total" jdbcType="VARCHAR" property="vacationTotal" />
    <result column="vacation_balance" jdbcType="VARCHAR" property="vacationBalance" />
    <result column="changing_reason" jdbcType="VARCHAR" property="changingReason" />
    <result column="auditor_employee_id" jdbcType="VARCHAR" property="auditorEmployeeId" />
    <result column="changeing_date" jdbcType="VARCHAR" property="changeingDate" />
    <result column="adjusting_instruction" jdbcType="VARCHAR" property="adjustingInstruction"/>
    <result column="vacation_type_name" jdbcType="VARCHAR" property="vacationTypeName"/>
    <result column="employee_name" jdbcType="VARCHAR" property="employeeName"/>
    <result column="year_" jdbcType="VARCHAR" property="year"/>
  </resultMap>
  
  <sql id="Base_Column_List">
    vacation_details_id,vacation_id,vacation_type, vacation_mold, limit_change, vacation_total, 
    vacation_balance, changing_reason, auditor_employee_id,changeing_date,adjusting_instruction
  </sql>
  <sql id="Details_Employee_List">
    vacation_details_id,vacation_id,vacation_type,vacation_type_name,vacation_mold, limit_change, vacation_total, 
    vacation_balance, changing_reason, auditor_employee_id,employee_name,changeing_date,adjusting_instruction,year_
  </sql>
  
  <!-- select -->
  <select id="SelectTotalNum" parameterType="java.lang.String" resultType="java.lang.Integer">
  	select count(vacation_details_id) from vacation_details
	where vacation_id = #{vacationId}
	<if test="vacationType != null">
		and vacation_type = #{vacationType}
	</if>
	<if test="changingReason != null">
		and changing_reason = #{changingReason}
	</if>
	<if test="year != null">
		and year_ = #{year}
	</if>
  </select>
  <select id="SelectVacationDetails" parameterType="java.lang.String" resultMap="DetailsEmployeeMap">
  	select 
  	<include refid="Details_Employee_List"/> 
  	from (select vacation_details_id, vd.vacation_id, vacation_type,
	CASE 
		WHEN(vacation_type='1'::VARCHAR) 
		THEN '调休假'::TEXT 
		WHEN(vacation_type='0'::VARCHAR) 
		THEN '年假'::TEXT
		END AS vacation_type_name , 
	vacation_mold, limit_change, vacation_total, 
	vacation_balance, changing_reason, auditor_employee_id,e.employee_name,changeing_date,adjusting_instruction,vd.year_,
	<trim prefix="row_number() over(" suffix=") rn ">
		order by changeing_date ${changeingDateRank}
	</trim>
	from vacation_details vd
	LEFT join vacation v
	on vd.vacation_id = v.vacation_id and vd.year_ = v.year_
	LEFT JOIN organization.employee_ e
	on vd.auditor_employee_id = e.employee_id and v.company_id = e.company_id
	<where>
		<if test="vacationType != null">
			vacation_type = #{vacationType}
		</if>
		<if test="changingReason != null">
			and vd.changing_reason = #{changingReason} 
		</if>
		<if test="vacationId != null">
			and vd.vacation_id = #{vacationId}
		</if>
		<if test="year != null">
			and vd.year_ = #{year}
		</if>
	</where>
	) as t
	where rn <![CDATA[>]]> ${pageExcludeNumber}
	LIMIT ${pageNum}
  </select>
  <select id="SelectVacationIdByEndResult" parameterType="java.lang.String" resultMap="BaseResultMap">
  	select
  	<include refid="Base_Column_List" />
    from vacation_details
    where vacation_id = #{vacationId,jdbcType=VARCHAR}
    and vacation_type = #{vacationType,jdbcType=VARCHAR}
    and year_ = #{year}
    order by changeing_date DESC
	LIMIT 1
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from vacation_details
    where vacation_details_id = #{vacationDetailsId,jdbcType=VARCHAR}
    and year_ #{year}
  </select>
  <!-- delete -->
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from vacation_details
    where vacation_details_id = #{vacationDetailsId,jdbcType=VARCHAR}
  </delete>
  
  <!-- insert -->
  <insert id="insert" parameterType="com.xiangshangban.att_simple.bean.VacationDetails">
    insert into vacation_details (vacation_details_id, vacation_id, vacation_type, 
      vacation_mold, limit_change, vacation_total, 
      vacation_balance, changing_reason, auditor_employee_id, 
      changeing_date,adjusting_instruction)
    values (#{vacationDetailsId,jdbcType=VARCHAR}, #{vacationId,jdbcType=VARCHAR}, #{vacationType,jdbcType=VARCHAR}, 
      #{vacationMold,jdbcType=VARCHAR}, #{limitChange,jdbcType=VARCHAR}, #{vacationTotal,jdbcType=VARCHAR}, 
      #{vacationBalance,jdbcType=VARCHAR}, #{changingReason,jdbcType=VARCHAR}, #{auditorEmployeeId,jdbcType=VARCHAR}, 
      #{changeingDate,jdbcType=VARCHAR},#{adjustingInstruction,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.xiangshangban.att_simple.bean.VacationDetails">
    insert into vacation_details
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="vacationDetailsId != null">
        vacation_details_id,
      </if>
      <if test="vacationId != null">
        vacation_id,
      </if>
      <if test="vacationType != null">
        vacation_type,
      </if>
      <if test="vacationMold != null">
        vacation_mold,
      </if>
      <if test="limitChange != null">
        limit_change,
      </if>
      <if test="vacationTotal != null">
        vacation_total,
      </if>
      <if test="vacationBalance != null">
        vacation_balance,
      </if>
      <if test="changingReason != null">
        changing_reason,
      </if>
      <if test="auditorEmployeeId != null">
        auditor_employee_id,
      </if>
      <if test="changeingDate != null">
        changeing_date,
      </if>
      <if test="adjustingInstruction != null">
      	adjusting_instruction,
      </if>
      <if test="year != null">
      	year_,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="vacationDetailsId != null">
        #{vacationDetailsId,jdbcType=VARCHAR},
      </if>
      <if test="vacationId != null">
        #{vacationId,jdbcType=VARCHAR},
      </if>
      <if test="vacationType != null">
        #{vacationType,jdbcType=VARCHAR},
      </if>
      <if test="vacationMold != null">
        #{vacationMold,jdbcType=VARCHAR},
      </if>
      <if test="limitChange != null">
        #{limitChange,jdbcType=VARCHAR},
      </if>
      <if test="vacationTotal != null">
        #{vacationTotal,jdbcType=VARCHAR},
      </if>
      <if test="vacationBalance != null">
        #{vacationBalance,jdbcType=VARCHAR},
      </if>
      <if test="changingReason != null">
        #{changingReason,jdbcType=VARCHAR},
      </if>
      <if test="auditorEmployeeId != null">
        #{auditorEmployeeId,jdbcType=VARCHAR},
      </if>
      <if test="changeingDate != null">
        #{changeingDate,jdbcType=VARCHAR},
      </if>
      <if test="adjustingInstruction != null">
      	#{adjustingInstruction,jdbcType=VARCHAR},
      </if>
      <if test="year != null">
      	#{year,jdbcType=VARCHAR}
      </if>
    </trim>
  </insert>
  
  <!-- update -->
  <update id="updateByPrimaryKeySelective" parameterType="com.xiangshangban.att_simple.bean.VacationDetails">
    update vacation_details
    <set>
      <if test="vacationId != null">
        vacation_id = #{vacationId,jdbcType=VARCHAR},
      </if>
      <if test="vacationType != null">
        vacation_type = #{vacationType,jdbcType=VARCHAR},
      </if>
      <if test="vacationMold != null">
        vacation_mold = #{vacationMold,jdbcType=VARCHAR},
      </if>
      <if test="limitChange != null">
        limit_change = #{limitChange,jdbcType=VARCHAR},
      </if>
      <if test="vacationTotal != null">
        vacation_total = #{vacationTotal,jdbcType=VARCHAR},
      </if>
      <if test="vacationBalance != null">
        vacation_balance = #{vacationBalance,jdbcType=VARCHAR},
      </if>
      <if test="changingReason != null">
        changing_reason = #{changingReason,jdbcType=VARCHAR},
      </if>
      <if test="auditorEmployeeId != null">
        auditor_employee_id = #{auditorEmployeeId,jdbcType=VARCHAR},
      </if>
      <if test="changeingDate != null">
        changeing_date = #{changeingDate,jdbcType=VARCHAR},
      </if>
      <if test="adjustingInstruction != null">
      	adjusting_instruction = #{adjustingInstruction,jdbcType=VARCHAR},
      </if>
    </set>
    where vacation_details_id = #{vacationDetailsId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xiangshangban.att_simple.bean.VacationDetails">
    update vacation_details
    set vacation_id = #{vacationId,jdbcType=VARCHAR},
      vacation_type = #{vacationType,jdbcType=VARCHAR},
      vacation_mold = #{vacationMold,jdbcType=VARCHAR},
      limit_change = #{limitChange,jdbcType=VARCHAR},
      vacation_total = #{vacationTotal,jdbcType=VARCHAR},
      vacation_balance = #{vacationBalance,jdbcType=VARCHAR},
      changing_reason = #{changingReason,jdbcType=VARCHAR},
      auditor_employee_id = #{auditorEmployeeId,jdbcType=VARCHAR},
      changeing_date = #{changeingDate,jdbcType=VARCHAR},
      adjusting_instruction = #{adjustingInstruction,jdbcType=VARCHAR}
    where vacation_details_id = #{vacationDetailsId,jdbcType=VARCHAR}
  </update>
</mapper>