<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiangshangban.att_simple.dao.VacationMapper">
  <resultMap id="BaseResultMap" type="com.xiangshangban.att_simple.bean.Vacation">
    <id column="vacation_id" jdbcType="VARCHAR" property="vacationId" />
    <result column="company_id" jdbcType="VARCHAR" property="companyId" />
    <result column="department_id" jdbcType="VARCHAR" property="departmentId" />
    <result column="employee_id" jdbcType="VARCHAR" property="employeeId" />
    <result column="annual_leave_total" jdbcType="VARCHAR" property="annualLeaveTotal" />
    <result column="annual_leave_balance" jdbcType="VARCHAR" property="annualLeaveBalance" />
    <result column="adjust_rest_total" jdbcType="VARCHAR" property="adjustRestTotal" />
    <result column="adjust_rest_balance" jdbcType="VARCHAR" property="adjustRestBalance" />
    <result column="department_name" jdbcType="VARCHAR" property="departmentName" />
    <result column="employee_name" jdbcType="VARCHAR" property="employeeName" />
    <result column="year_" jdbcType="VARCHAR" property="year" />
  </resultMap>
  
  <sql id="Base_Column_List">
    vacation_id, company_id, department_id, employee_id, annual_leave_total, annual_leave_balance, 
    adjust_rest_total, adjust_rest_balance,year_
  </sql>
  
  <sql id="Vacation_Employee_Column_List">
    vacation_id, company_id, department_id,employee_id,annual_leave_total,annual_leave_balance,
adjust_rest_total,adjust_rest_balance,department_name,employee_name,year_
  </sql>
  
  <sql id="Vacation_Employee_Column_List1">
    v.vacation_id, v.company_id, v.department_id, v.employee_id, v.annual_leave_total, v.annual_leave_balance,
v.adjust_rest_total, v.adjust_rest_balance,d.department_name,e.employee_name,year_
  </sql>
  
  <!-- select -->
  <select id="SelectFuzzyPagel" parameterType="com.xiangshangban.att_simple.bean.Paging" resultMap="BaseResultMap">
  	select 
  	<include refid="Vacation_Employee_Column_List"/>
	from 
	(select <include refid="Vacation_Employee_Column_List1"/>,
	<trim prefix="row_number() over(order by " suffix=") rn">
		<if test="annualLeaveTotalRank != null">
			v.annual_leave_total ${annualLeaveTotalRank}
		</if>
		<if test="annualLeaveBalanceRank != null">
			v.annual_leave_balance ${annualLeaveBalanceRank}
		</if>
		<if test="adjustRestTotalRank != null">
			v.adjust_rest_total ${adjustRestTotalRank}
		</if>
		<if test="adjustRestBalanceRank != null">
			v.adjust_rest_balance ${adjustRestBalanceRank}
		</if>
	</trim>
	from vacation v 
	left join organization.employee_ e 
	on v.employee_id = e.employee_id and v.company_id = e.company_id and v.department_id = e.department_id 
	left join organization.department_ d 
	on e.department_id = d.department_id and e.company_id = d.company_id 
	left JOIN organization.user_company uc 
	on uc.company_id=d.company_id and uc.user_id = v.employee_id
	<where>
		v.company_id = #{companyId} 
		and year_ = #{year}
		and uc.is_active = '1'
		and uc.type = '1'
		<if test="departmentId != null">
			and v.department_id = #{departmentId}
		</if>
		<if test="employeeName != null">
			and e.employee_name = #{employeeName}
		</if>
	</where>
	)t
	where t.rn > ${pageExcludeNumber}
	limit ${pageNum}
  </select>
  <select id="SelectTotalNumber" resultType="java.lang.Integer">
  	select count(vacation_id) from vacation v
	LEFT JOIN organization.employee_ e
	on v.employee_id = e.employee_id and v.company_id = e.company_id and v.department_id = e.department_id
	where v.company_id = #{companyId}
	and year_ = #{year}
	<if test="departmentId != null">
		and v.department_id = #{departmentId}
	</if>
	<if test="employeeName != null">
		and e.employee_name = #{employeeName}
	</if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from vacation
    where vacation_id = #{vacationId,jdbcType=VARCHAR}
  </select>
  <select id="SelectEmployeeVacation" resultMap="BaseResultMap">
  	select
  	<include refid="Base_Column_List"></include>
  	from vacation
  	<where>
  		<if test="companyId != null">
  			company_id = #{companyId}
  		</if>
  		<if test="deparmentId != null">
  			and department_id = #{deparmentId}
  		</if>
  		<if test="employeeId != null">
  			and employee_id = #{employeeId}
  		</if>
  	</where>
  </select>
	  
  <!-- delete -->
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from vacation
    where vacation_id = #{vacationId,jdbcType=VARCHAR}
  </delete>
  
  <!-- insert -->
  <insert id="insert" parameterType="com.xiangshangban.att_simple.bean.Vacation">
    insert into vacation (vacation_id, company_id, department_id, 
      employee_id, annual_leave_total, annual_leave_balance, 
      adjust_rest_total, adjust_rest_balance)
    values (#{vacationId,jdbcType=VARCHAR}, #{companyId,jdbcType=VARCHAR}, #{departmentId,jdbcType=VARCHAR}, 
      #{employeeId,jdbcType=VARCHAR}, #{annualLeaveTotal,jdbcType=VARCHAR}, #{annualLeaveBalance,jdbcType=VARCHAR}, 
      #{adjustRestTotal,jdbcType=VARCHAR}, #{adjustRestBalance,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.xiangshangban.att_simple.bean.Vacation">
    insert into vacation
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="vacationId != null">
        vacation_id,
      </if>
      <if test="companyId != null">
        company_id,
      </if>
      <if test="departmentId != null">
        department_id,
      </if>
      <if test="employeeId != null">
        employee_id,
      </if>
      <if test="annualLeaveTotal != null">
        annual_leave_total,
      </if>
      <if test="annualLeaveBalance != null">
        annual_leave_balance,
      </if>
      <if test="adjustRestTotal != null">
        adjust_rest_total,
      </if>
      <if test="adjustRestBalance != null">
        adjust_rest_balance,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="vacationId != null">
        #{vacationId,jdbcType=VARCHAR},
      </if>
      <if test="companyId != null">
        #{companyId,jdbcType=VARCHAR},
      </if>
      <if test="departmentId != null">
        #{departmentId,jdbcType=VARCHAR},
      </if>
      <if test="employeeId != null">
        #{employeeId,jdbcType=VARCHAR},
      </if>
      <if test="annualLeaveTotal != null">
        #{annualLeaveTotal,jdbcType=VARCHAR},
      </if>
      <if test="annualLeaveBalance != null">
        #{annualLeaveBalance,jdbcType=VARCHAR},
      </if>
      <if test="adjustRestTotal != null">
        #{adjustRestTotal,jdbcType=VARCHAR},
      </if>
      <if test="adjustRestBalance != null">
        #{adjustRestBalance,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  
  <!-- update -->
  <update id="UpdateAdjustRest">
  	update vacation
  	set adjust_rest_total = #{adjustRestTotal,jdbcType=VARCHAR},adjust_rest_balance = #{adjustRestBalance,jdbcType=VARCHAR}
  	where vacation_id = #{vacationId,jdbcType=VARCHAR}
  </update>
  <update id="UpdateAnnualLeave">
  	update vacation
  	set annual_leave_total = #{annualLeaveTotal,jdbcType=VARCHAR},annual_leave_balance = #{annualLeaveBalance,jdbcType=VARCHAR}
  	where vacation_id = #{vacationId,jdbcType=VARCHAR}
  	and year_ = #{year,jdbcType=VARCHAR}
  </update> 
  <update id="updateByPrimaryKeySelective" parameterType="com.xiangshangban.att_simple.bean.Vacation">
    update vacation
    <set>
      <if test="companyId != null">
        company_id = #{companyId,jdbcType=VARCHAR},
      </if>
      <if test="departmentId != null">
        department_id = #{departmentId,jdbcType=VARCHAR},
      </if>
      <if test="employeeId != null">
        employee_id = #{employeeId,jdbcType=VARCHAR},
      </if>
      <if test="annualLeaveTotal != null">
        annual_leave_total = #{annualLeaveTotal,jdbcType=VARCHAR},
      </if>
      <if test="annualLeaveBalance != null">
        annual_leave_balance = #{annualLeaveBalance,jdbcType=VARCHAR},
      </if>
      <if test="adjustRestTotal != null">
        adjust_rest_total = #{adjustRestTotal,jdbcType=VARCHAR},
      </if>
      <if test="adjustRestBalance != null">
        adjust_rest_balance = #{adjustRestBalance,jdbcType=VARCHAR},
      </if>
    </set>
    where vacation_id = #{vacationId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xiangshangban.att_simple.bean.Vacation">
    update vacation
    set company_id = #{companyId,jdbcType=VARCHAR},
      department_id = #{departmentId,jdbcType=VARCHAR},
      employee_id = #{employeeId,jdbcType=VARCHAR},
      annual_leave_total = #{annualLeaveTotal,jdbcType=VARCHAR},
      annual_leave_balance = #{annualLeaveBalance,jdbcType=VARCHAR},
      adjust_rest_total = #{adjustRestTotal,jdbcType=VARCHAR},
      adjust_rest_balance = #{adjustRestBalance,jdbcType=VARCHAR}
    where vacation_id = #{vacationId,jdbcType=VARCHAR}
  </update>
</mapper>